# Uber Movement Competition

In [1]:
import pandas as pd
# import pandas_profiling as pf 
import os
import numpy as np
import seaborn as sns
import matplotlib as plt
import datetime
from tqdm import tqdm
from sklearn.metrics import mean_squared_error
#from tqdm import tqdm
#tqdm.pandas()
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
from sklearn.neighbors import NearestNeighbors
%matplotlib inline
# !pip install pandas_profiling

import gc
import catboost
from catboost import CatBoostClassifier,Pool,cv

### Loading the Train Dataset

In [2]:
train = pd.read_csv('Data/train.csv')

### Handle Bad Data

In [3]:
train=train.rename(columns = {'Occurrence Local Date Time':'Datetime'})
train=train.rename(columns = {'road_segment_id':'segment_id'})

### Date conversion (make dayfirst=True)
train['Datetime'] = pd.to_datetime(train['Datetime'], dayfirst=True)

In [4]:
bad_seg = ['-34.0436786939','-33.9622761744','-33.8891283413','-34.0894652753','-33.9680008638']
for seg in bad_seg:
    train.loc[train['segment_id'] == seg , 'longitude']  = train.loc[train['segment_id'] == seg , 'latitude']
    train.loc[train['segment_id'] == seg , 'latitude']  = train.loc[train['segment_id'] == seg , 'segment_id']
    train.loc[train['segment_id'] == seg , 'segment_id']  = np.nan

In [5]:
train[train.segment_id.isna()]

,EventId,Datetime,Reporting Agency,Cause,Subcause,Status,longitude,latitude,segment_id
16693,88632,2016-12-09 04:45:00,NaN,Cam,Accident,Single Vehicle,18.5642,-33.9622761744,NaN
23455,100642,2017-05-16 07:22:00,NaN,cdam,Congestion,Any,18.8397,-34.0894652753,NaN
23747,101150,2017-05-21 08:30:00,NaN,cam,Routine Road Maintenance,Any,18.5798,-33.9680008638,NaN
27586,108150,2017-08-30 07:12:00,NaN,cam,Congestion,Any,18.6146,-33.8891283413,NaN
30341,112789,2017-10-21 08:03:00,NaN,cam,Stationary Vehicle,Vehicle On Shoulder,18.7424,-34.0436786939,NaN

In [6]:
train.loc[train['EventId'] == 88632, 'segment_id']   = '6OTRJQF'
train.loc[train['EventId'] == 100642, 'segment_id']   = 'Q03FQ74'
train.loc[train['EventId'] == 101150, 'segment_id']   = 'S2QPOTD'
train.loc[train['EventId'] == 108150, 'segment_id']   = 'LNO3W8J'
train.loc[train['EventId'] == 112789, 'segment_id']   = 'IUTMY1U'

In [7]:
train[train.segment_id.isna()]

Empty DataFrame
Columns: [EventId, Datetime, Reporting Agency, Cause, Subcause, Status, longitude, latitude, segment_id]
Index: []

### Accident Features

In [8]:
Accident = train.segment_id.value_counts().reset_index().rename(columns = {'index':'Road_Segment',
                                                                    'segment_id':'Accident'})
Accident['Accident'] = Accident['Accident'].astype('int32')

In [9]:
ls Data

Accident_Per_SegmentId.csv  seg_Length.csv            seg_pavement_v2.csv
Add_feat_cause.csv          seg_Length_v2.csv         seg_roadtype.csv
GeoData_001to1107.csv       SegmentId_and_suburb.csv  seg_roadtype_v2.csv
GeoData_1107tolast.csv      segment_id_suburb_v2.csv  train.csv
road_segments/              seg_pavement.csv          weather.csv

In [10]:
# test = pd.read_csv('Data/SampleSubmission.csv',error_bad_lines=False)
# Suburb = pd.read_csv("Data/SegmentId_and_suburb.csv")

Suburb = pd.read_csv("Data/segment_id_suburb_v2.csv")
road_type = pd.read_csv("Data/seg_roadtype_v2.csv")
road_pavement = pd.read_csv("Data/seg_pavement_v2.csv")
road_Length = pd.read_csv("Data/seg_Length_v2.csv")

In [11]:
train.head()

,EventId,Datetime,Reporting Agency,Cause,Subcause,Status,longitude,latitude,segment_id
0,60558,2016-01-01 00:53:00,Cam,Stationary Vehicle,Vehicle On Shoulder,Closed,18.5408955032,-33.8883,S0B3CGQ
1,60559,2016-01-01 00:54:00,CAMERA,Accident,With A Fixed Object,Closed,18.9307563219,-34.1409,RYJYAPI
2,60560,2016-01-01 02:26:00,Law Enforcement,Accident,Multi Vehicle,Closed,18.5533575029,-33.9592,U3KP57C
3,60561,2016-01-01 02:56:00,CAMERA,Stationary Vehicle,Vehicle On Shoulder,Closed,18.6775561589,-33.8953,RY0TRQ8
4,60562,2016-01-01 03:40:00,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.0871,8LOVJZ3

## Weather Data

In [12]:
w = pd.read_csv('Data/weather.csv', sep=";", skiprows=6, usecols=range(14),
               parse_dates=['Local time in Cape Town (airport)'])

In [13]:
w.head()

,Local time in Cape Town (airport),T,P0,P,U,DD,Ff,ff10,WW,W'W',c,VV,Td,Unnamed: 13
0,2019-04-04 23:00:00,15.0,762.0,765.8,77.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 720 m, broken clouds...",10.0 and more,11.0,NaN
1,2019-04-04 22:00:00,16.0,761.2,765.0,77.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 570 m, broken clouds...",10.0 and more,12.0,NaN
2,2019-04-04 21:59:00,16.0,761.2,765.0,77.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 570 m, broken clouds...",10.0 and more,12.0,NaN
3,2019-04-04 21:01:00,15.0,761.2,765.0,94.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 150 m, broken clouds...",10.0 and more,14.0,NaN
4,2019-04-04 21:00:00,15.0,761.2,765.0,94.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 150 m, broken clouds...",10.0 and more,14.0,NaN

In [14]:
w['dt'] = w['Local time in Cape Town (airport)'].dt.round('H')
w['dt_2'] = w['Local time in Cape Town (airport)'].dt.floor('H')

w_cols = ['dt','dt_2', 'T', 'P0', 'P', 'U', 'Ff']

### Get Extra Feature from Segment

In [15]:
### Count of occurance of incident
Seg_Group = train.groupby(['segment_id','Datetime']).size().reset_index(name='Counts')

### Mapping the Segment_id - from text to number
LE = LabelEncoder()
Seg_Group['segmentid_num'] = LE.fit_transform(Seg_Group['segment_id'])

# Make all 3 digits of segments
Seg_Group['segmentid_num3'] = [str(x).zfill(3) for x in Seg_Group['segmentid_num']]

# Add 'seg_' to 3digit segment_id
Seg_Group['segment_idx'] = 'seg_'+Seg_Group.segmentid_num3.astype('str')

In [16]:
Seg_Group.head()

,segment_id,Datetime,Counts,segmentid_num,segmentid_num3,segment_idx
0,03RHJ3G,2016-01-01 09:02:00,1,0,000,seg_000
1,03RHJ3G,2016-01-04 09:46:00,1,0,000,seg_000
2,03RHJ3G,2016-01-04 13:29:00,1,0,000,seg_000
3,03RHJ3G,2016-01-05 14:41:00,1,0,000,seg_000
4,03RHJ3G,2016-01-05 16:10:00,1,0,000,seg_000

### Extract unique Segment Id

In [17]:
## Drop duplicate segment_id
SegIdQ = Seg_Group[['segment_id','segment_idx','segmentid_num']].drop_duplicates()
# segment_id_1
SegIdQx = SegIdQ['segment_id'].unique()
# segmen_id_2
SegIdQx2 = SegIdQ['segment_idx'].unique()

### Add centre of Segment

In [18]:
train.longitude = train.longitude.astype(float)
train.latitude = train.latitude.astype(float)

## Get centre location of the segment
location =  train.groupby('segment_id').median()[['longitude', 'latitude']]
SegIdQ = SegIdQ.merge(location, left_on=['segment_id'], how="left", right_index=True)

In [19]:
SegIdQ.head()

    segment_id segment_idx  segmentid_num  longitude   latitude
0      03RHJ3G     seg_000              0  18.459897 -33.943257
582    044ZYVD     seg_001              1  18.554505 -33.890213
613    086LLYS     seg_002              2  18.432873 -33.918816
637    0B0QOEN     seg_003              3  18.477737 -33.917932
790    0F3OY57     seg_004              4  18.773261 -34.057950

### Add other segment related feat

In [20]:
## Add centre Accident_count to data_set
SegIdQ = pd.merge(SegIdQ, Accident[['Road_Segment','Accident']], left_on='segment_id', right_on='Road_Segment', how='left') # Segment locations
SegIdQ = pd.merge(SegIdQ, Suburb[['segment_id','suburb']], left_on='segment_id', right_on='segment_id', how='left') # Segment locations
# SegIdQ = pd.merge(SegIdQ, Cause, left_on='segment_id', right_on='Road_Segment', how='left') # Segment locations

In [21]:
## Add centre Other  to data_set
SegIdQ = pd.merge(SegIdQ, road_Length, left_on='segment_id', right_on='segment_id', how='left') # Segment locations
SegIdQ = pd.merge(SegIdQ, road_type, left_on='segment_id', right_on='segment_id', how='left') # Segment locations
SegIdQ = pd.merge(SegIdQ, road_pavement, left_on='segment_id', right_on='segment_id', how='left') # Segment locations

### Merging Train Dataset with Segment Features from NoteBook(`Geo-Spatial Features Extraction_v3`)

In [22]:
trainX = pd.merge(train, SegIdQ, on=['segment_id'], how="left")
print('Train # B4 merging',len(train))
print('Train # After merging',len(trainX))

Train # B4 merging 53845
Train # After merging 53845

In [23]:
# del SegIdQ
del train

In [24]:
# trainX.to_csv('train_transformed.csv', index=False)

### CreateTrain Target

In [25]:
## Get day not in Train day and save as missing_days
Main_day = pd.date_range('2016-01-01','2018-12-31',
                           freq="1D")
Main_day = pd.DataFrame({'datetime':Main_day.date})

train_days = trainX['Datetime'].dt.date.drop_duplicates()
missing_days = Main_day[~Main_day['datetime'].isin(train_days)]

del train_days, Main_day
missing_days['datetime'] = pd.to_datetime(missing_days.datetime)

In [26]:
Data1Hour = pd.date_range('2016-01-01',
                          '2018-12-31 23:00:00',
                           freq="1h")
Data1Hour = pd.DataFrame({'datetime':Data1Hour})
###Remove missing date from date range
Data1Hour = Data1Hour[~Data1Hour['datetime'].dt.date.isin(missing_days['datetime'].dt.date)]

# Generate Target
for SegId in SegIdQx2:
    Data1Hour[str(SegId)] = 0
    events = trainX.loc[trainX['segment_idx'] == SegId]
    dts = events['Datetime'].dt.floor('H')
    dates = dts.astype(str).unique()
    Data1Hour.loc[Data1Hour['datetime'].isin(dates), SegId] = 1

In [27]:
Data1Hour.shape

(24672, 545)

### Create Test Target

In [28]:
test1Hour = pd.date_range('2019-01-01 01:00:00',
                          '2019-03-31 23:00:00' ,
                           freq="1h")

test1Hour = pd.DataFrame({'datetime':test1Hour})

# Generate Target
for SegId in SegIdQx2:
    test1Hour[str(SegId)] = np.NAN

In [29]:
test1Hour.set_index('datetime', inplace=True)
Data1Hour.set_index('datetime', inplace=True)

### Convert seg to Id

In [30]:
Data1Hour = Data1Hour.reset_index()
test1Hour = test1Hour.reset_index()

In [31]:
Data1Hour = pd.melt(Data1Hour, id_vars=['datetime'])
Data1Hour.rename(columns={'variable': 'seg', 'value': 'target'}, inplace=True)
Data1Hour['seg'] = Data1Hour.seg.map(lambda x: int(x[4:]))
Data1Hour.set_index('datetime', inplace=True)
# Data1Hour.sort_values('datetime', inplace=True)
Data1Hour = Data1Hour.sort_values('datetime')



test1Hour = pd.melt(test1Hour, id_vars=['datetime'])
test1Hour.rename(columns={'variable': 'seg', 'value': 'target'}, inplace=True)
test1Hour['seg'] = test1Hour.seg.map(lambda x: int(x[4:]))
test1Hour.set_index('datetime', inplace=True)

test1Hour = test1Hour.sort_values('datetime')

In [32]:
Data1Hour.head()

            seg  target
datetime
2016-01-01    0       0
2016-01-01  170       0
2016-01-01  171       0
2016-01-01  172       0
2016-01-01  173       0

### Timebased FeatEngineering

In [33]:
attr = ["Hour","Year", 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear','quarter',"weekday_name",
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']

for n in attr: 
    Data1Hour[n] = getattr(Data1Hour.index, n.lower())
    test1Hour[n] = getattr(test1Hour.index, n.lower())

# Data1Hour['Elapsed'] = Data1Hour.index.astype(np.int64) // 10 ** 9
# test1Hour['Elapsed'] = test1Hour.index.astype(np.int64) // 10 ** 9

In [34]:
## WeekEnd
Data1Hour['IsWeekend'] = np.where(Data1Hour['Dayofweek'] < 5,0,1)
test1Hour['IsWeekend'] = np.where(test1Hour['Dayofweek'] < 5,0,1)

In [35]:
# Holiday 
from pandas.tseries.holiday import *
from pandas.tseries.offsets import CustomBusinessDay

class SouthAfricaHoliday(AbstractHolidayCalendar):
   rules = [
     Holiday('New Year', month=1, day=1, observance=sunday_to_monday),
     Holiday('Human Rights Day', month=3, day=21, observance=sunday_to_monday),
     Holiday('Good Friday', month=1, day=1, offset=[Easter(), Day(-2)]),
     Holiday('Easter Monday', month=1, day=1, offset=[Easter(), Day(1)]),
     Holiday('Freedom Day', month=4, day=27, observance=sunday_to_monday),
     Holiday('Workers Day', month=5, day=1,observance=sunday_to_monday),
     Holiday('Youth Day', month=6, day=16, observance=sunday_to_monday),
     Holiday('Womens Day', month=8, day=9, observance=sunday_to_monday),
     Holiday('Heritage Day', month=9, day=24, observance=sunday_to_monday),
     Holiday('Day of Reconcilation', month=12, day=16, observance=sunday_to_monday),
     Holiday('Goodwill Day', month=12, day=26, observance=sunday_to_monday),
     Holiday('Christmas', month=12, day=25)
   ]

In [36]:
Data1Hour.index.min(), test1Hour.index.max()

(Timestamp('2016-01-01 00:00:00'), Timestamp('2019-03-31 23:00:00'))

In [37]:
hol= SouthAfricaHoliday()
myholidays =hol.holidays(start=Data1Hour.index.min(), end =test1Hour.index.max())
hol_day = pd.Series(myholidays)

### election
election_day = "2019-08-03"
hol_day = hol_day.append(pd.to_datetime(pd.Series([election_day])),ignore_index=True)

In [38]:
## Create instance of holiday in a new column
Data1Hour['IsHoliday'] = np.where((pd.to_datetime(Data1Hour.index.date)).isin(hol_day) ,1,0)
test1Hour['IsHoliday'] = np.where((pd.to_datetime(test1Hour.index.date)).isin(hol_day) ,1,0)

In [39]:
# pay_day 

Data1Hour['PayDay'] = np.where((Data1Hour['Day'] < 25) ,0,1)
Data1Hour['PayDay_Teachers'] = np.where(Data1Hour['Day'] < 22,0,1)


test1Hour['PayDay'] = np.where((test1Hour['Day'] < 25) ,0,1)
test1Hour['PayDay_Teachers'] = np.where(test1Hour['Day'] < 22,0,1)

In [40]:
Data1Hour['min'] = Data1Hour.index.hour*60+Data1Hour.index.minute
test1Hour['min'] = test1Hour.index.hour*60+test1Hour.index.minute

Data1Hour['Hour_sin'] = np.sin(2 * np.pi * Data1Hour['Hour']/23.0)
Data1Hour['Hour_cos'] = np.cos(2 * np.pi * Data1Hour['Hour']/23.0)

test1Hour['Hour_sin'] = np.sin(2 * np.pi * test1Hour['Hour']/23.0)
test1Hour['Hour_cos'] = np.cos(2 * np.pi * test1Hour['Hour']/23.0)

In [41]:
Data1Hour.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos'],
      dtype='object')

In [42]:
Data1Hour.shape

(13421568, 24)

In [43]:
Data1Hour.target.value_counts(True)

0    0.99617
1    0.00383
Name: target, dtype: float64

In [44]:
gc.collect()

163

### Preprocessing 2

In [45]:
## Memory reduce Function
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [46]:
train = reduce_mem_usage(Data1Hour)
test = reduce_mem_usage(test1Hour)

Memory usage of dataframe is 2062.37 MB
Memory usage after optimization is: 603.19 MB
Decreased by 70.8%
Memory usage of dataframe is 216.97 MB
Memory usage after optimization is: 96.00 MB
Decreased by 55.8%

In [47]:
train.target.value_counts(True)

0    0.99617
1    0.00383
Name: target, dtype: float64

In [48]:
train = train.sort_values('datetime')
test = test.sort_values('datetime')

## Merge New features to Train and Test DataSet

In [49]:
test.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos'],
      dtype='object')

In [50]:
test['datetime'] = test.index
train['datetime'] = train.index

In [51]:
## Merge Weather
w = w[w_cols].drop_duplicates(['dt_2'])
train = pd.merge(train, w[w_cols], left_index=True, right_on='dt_2', how='left') # Weather
test = pd.merge(test, w[w_cols], left_index=True, right_on='dt_2', how='left') # Weather

In [52]:
## Merge Other New feature Stored in SegIdQ
train = pd.merge(train, SegIdQ, left_on=['seg'], right_on=['segmentid_num'], how="left")
test = pd.merge(test, SegIdQ, left_on=['seg'], right_on=['segmentid_num'], how="left")

In [53]:
test.set_index('datetime', inplace=True)
train.set_index('datetime', inplace=True)

In [54]:
test['datetime x segment_id'] = test.index.astype('str') + ' x ' + test['segment_id']

In [55]:
train.shape, test.shape

((13421568, 42), (1174496, 43))

## Modelling

In [56]:
import matplotlib.pyplot as plt
from sklearn.metrics import log_loss
from sklearn.metrics import f1_score
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix, f1_score, precision_recall_curve

In [57]:
train.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos', 'dt', 'dt_2', 'T', 'P0', 'P', 'U', 'Ff',
       'segment_id', 'segment_idx', 'segmentid_num', 'longitude', 'latitude',
       'Road_Segment', 'Accident', 'suburb', 'length_1', 'roadno', 'surftype'],
      dtype='object')

In [58]:
### Columns to be deleted
del_col = [
       'Day', 
#          'Dayofweek', 'Hour', 
#          'Hour_cos', 'Hour_sin',
#        'IsHoliday', 'IsWeekend', 
       'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 
       'Is_year_end', 'Is_year_start',
       'PayDay', 
       'PayDay_Teachers', 
       'Week', 
        'min',
       'quarter', 
#        'seg',
    'dt',
     'dt_2',
     'T',
     'P0',
     'P',
     'U',
     'Ff',
#     'RoadNo',
#     'SURFTYPE'
      'Cause', 'Freq', 'CatNo_cause',
#     'longitude', 'latitude',
#     'Accident', 'suburb',
      'weekday_name','Dayofyear',
      'Road_Segment_x','segment_id','Road_Segment_y','Month', 'segmentid_num','segment_idx',       
      'target','Year','SegmentId','SegmentId_x','SegmentId_y','Road_Segment'
   ]

In [59]:
train.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos', 'dt', 'dt_2', 'T', 'P0', 'P', 'U', 'Ff',
       'segment_id', 'segment_idx', 'segmentid_num', 'longitude', 'latitude',
       'Road_Segment', 'Accident', 'suburb', 'length_1', 'roadno', 'surftype'],
      dtype='object')

#### Specify Cat col And Encode Them

In [60]:
cat_cols = ['Hour','Dayofweek','seg','suburb','roadno','surftype']
LE = LabelEncoder()
for col in cat_cols:
    train[col] = train[col].replace({np.nan:'NaN'})
    train[col] = LE.fit_transform(train[col])
    
    test[col] = test[col].replace({np.nan:'NaN'})
    test[col] =  LE.transform(test[col])

### Specify TrainSet
Train with only 2018 because it is the most recent  data

In [61]:
start      = '2018-01-01'
split_date = '2018-10-01'


val_train = train[(train.index >= start) & (train.index <='2018-12-31 23:00:00')]
val_test = train[train.index >= split_date]

val_train.shape, val_test.shape

((4752384, 42), (1201152, 42))

In [62]:
# Remove August because it contains very few number of records
val_train = val_train[~((val_train.index >= '2018-08-01') & (val_train.index <'2018-09-01'))]

In [63]:
print ('Val_train Target value count \n', val_train['target'].value_counts(True))
print ('Val_test Target value count \n', val_test['target'].value_counts(True))

Val_train Target value count
 0    0.995385
1    0.004615
Name: target, dtype: float64
Val_test Target value count
 0    0.993427
1    0.006573
Name: target, dtype: float64

### Features for training

In [64]:
features = [x for x in train.columns if x not in del_col]
features

['seg',
 'Hour',
 'Dayofweek',
 'IsWeekend',
 'IsHoliday',
 'Hour_sin',
 'Hour_cos',
 'longitude',
 'latitude',
 'Accident',
 'suburb',
 'length_1',
 'roadno',
 'surftype']

In [65]:
## Reduce training Features
val_train[features] = reduce_mem_usage(val_train[features] )
val_test[features] = reduce_mem_usage(val_test[features] )

Memory usage of dataframe is 373.16 MB

/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Memory usage after optimization is: 120.24 MB
Decreased by 67.8%
Memory usage of dataframe is 103.10 MB
Memory usage after optimization is: 33.22 MB
Decreased by 67.8%

/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [66]:
## lgb Parametres

lgb_params = {
          "booster": "gbtree",
          "eta": 0.05,
         'num_iterations': 190,
         'verbosity': 50,
         'silent': 1,
         'eval_metric': 'binary_logloss',
         'seed': 2020,
         'metric': 'binary_logloss',
         "max_depth": 15,
          'is_unbalance': True,
          "subsample": 0.8,
          "colsample_bytree": 0.8,
          "alpha": 0.4
}



## Cat_boost Parametres
cat_params= {
            'num_boost_round': 250,
            'use_best_model':True,
            'depth': 8,
            'random_state': 2020,
            'eval_metric': 'AUC', 
            'loss_function': 'Logloss',
            'verbose': True
}

### Lgb

In [67]:
from sklearn.metrics import f1_score, accuracy_score
from sklearn.metrics import confusion_matrix, f1_score, precision_recall_curve
import matplotlib.pyplot as plt

In [68]:
trn_data = lgb.Dataset(val_train[features], label=val_train['target'])
clf = lgb.train(lgb_params, trn_data, 190)

predictions_lgb = clf.predict(test[features])
oof_lgb = clf.predict(val_train[features])
print ('OOf score', f1_score(val_train['target'], (oof_lgb > 0.05).astype(int)))

/home/zindistars2/anaconda3/lib/python3.7/site-packages/lightgbm/engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/home/zindistars2/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:842: UserWarning: silent keyword has been found in `params` and will be ignored.
Please use silent argument of the Dataset constructor to pass this parameter.
  .format(key))

OOf score 0.13497939684468013

In [69]:
## 0.13560956148808137

### CatBoost

In [70]:
import gc
import catboost
from catboost import CatBoostClassifier,Pool,cv,CatBoost

In [71]:
trn_data = Pool(val_train[features], label=val_train['target'],cat_features = cat_cols)

clf = CatBoost(cat_params)
clf.fit(trn_data,verbose_eval = True,eval_set=(trn_data))  
predictions_cat = clf.predict(test[features],prediction_type='Probability')[:,1]
oof_cat = clf.predict(val_train[features],prediction_type='Probability')[:,1]
print ('OOf score', f1_score(val_train['target'], (oof_cat > 0.05).astype(int)))

Learning rate set to 0.458621
0:	test: 0.7869819	best: 0.7869819 (0)	total: 4.06s	remaining: 16m 51s
1:	test: 0.8344682	best: 0.8344682 (1)	total: 10.3s	remaining: 21m 17s
2:	test: 0.8383004	best: 0.8383004 (2)	total: 16.5s	remaining: 22m 42s
3:	test: 0.8454366	best: 0.8454366 (3)	total: 20.3s	remaining: 20m 49s
4:	test: 0.8493965	best: 0.8493965 (4)	total: 23.7s	remaining: 19m 18s
5:	test: 0.8571752	best: 0.8571752 (5)	total: 26.9s	remaining: 18m 13s
6:	test: 0.8582134	best: 0.8582134 (6)	total: 30.4s	remaining: 17m 33s
7:	test: 0.8591718	best: 0.8591718 (7)	total: 33.7s	remaining: 16m 59s
8:	test: 0.8606640	best: 0.8606640 (8)	total: 37s	remaining: 16m 30s
9:	test: 0.8633771	best: 0.8633771 (9)	total: 40.1s	remaining: 16m 3s
10:	test: 0.8654979	best: 0.8654979 (10)	total: 43.7s	remaining: 15m 49s
11:	test: 0.8657193	best: 0.8657193 (11)	total: 47.1s	remaining: 15m 34s
12:	test: 0.8670872	best: 0.8670872 (12)	total: 50.3s	remaining: 15m 17s
13:	test: 0.8671776	best: 0.8671776 (13)	total: 53.9s	remaining: 15m 8s
14:	test: 0.8678358	best: 0.8678358 (14)	total: 57.1s	remaining: 14m 53s
15:	test: 0.8680278	best: 0.8680278 (15)	total: 1m	remaining: 14m 42s
16:	test: 0.8685235	best: 0.8685235 (16)	total: 1m 3s	remaining: 14m 36s
17:	test: 0.8686989	best: 0.8686989 (17)	total: 1m 7s	remaining: 14m 33s
18:	test: 0.8688221	best: 0.8688221 (18)	total: 1m 11s	remaining: 14m 31s
19:	test: 0.8694378	best: 0.8694378 (19)	total: 1m 15s	remaining: 14m 23s
20:	test: 0.8698028	best: 0.8698028 (20)	total: 1m 18s	remaining: 14m 15s
21:	test: 0.8701163	best: 0.8701163 (21)	total: 1m 20s	remaining: 13m 57s
22:	test: 0.8701231	best: 0.8701231 (22)	total: 1m 23s	remaining: 13m 47s
23:	test: 0.8709212	best: 0.8709212 (23)	total: 1m 27s	remaining: 13m 44s
24:	test: 0.8709391	best: 0.8709391 (24)	total: 1m 29s	remaining: 13m 29s
25:	test: 0.8709391	best: 0.8709391 (24)	total: 1m 32s	remaining: 13m 14s
26:	test: 0.8709391	best: 0.8709391 (24)	total: 1m 34s	remaining: 13m 1s
27:	test: 0.8709436	best: 0.8709436 (27)	total: 1m 36s	remaining: 12m 45s
28:	test: 0.8709738	best: 0.8709738 (28)	total: 1m 39s	remaining: 12m 37s
29:	test: 0.8709733	best: 0.8709738 (28)	total: 1m 42s	remaining: 12m 28s
30:	test: 0.8709770	best: 0.8709770 (30)	total: 1m 43s	remaining: 12m 9s
31:	test: 0.8711051	best: 0.8711051 (31)	total: 1m 45s	remaining: 12m
32:	test: 0.8711185	best: 0.8711185 (32)	total: 1m 48s	remaining: 11m 53s
33:	test: 0.8711543	best: 0.8711543 (33)	total: 1m 51s	remaining: 11m 50s
34:	test: 0.8711664	best: 0.8711664 (34)	total: 1m 55s	remaining: 11m 49s
35:	test: 0.8717519	best: 0.8717519 (35)	total: 1m 58s	remaining: 11m 45s
36:	test: 0.8717717	best: 0.8717717 (36)	total: 2m 2s	remaining: 11m 44s
37:	test: 0.8718048	best: 0.8718048 (37)	total: 2m 5s	remaining: 11m 39s
38:	test: 0.8718130	best: 0.8718130 (38)	total: 2m 8s	remaining: 11m 33s
39:	test: 0.8722185	best: 0.8722185 (39)	total: 2m 11s	remaining: 11m 30s
40:	test: 0.8724565	best: 0.8724565 (40)	total: 2m 14s	remaining: 11m 25s
41:	test: 0.8725336	best: 0.8725336 (41)	total: 2m 17s	remaining: 11m 21s
42:	test: 0.8725476	best: 0.8725476 (42)	total: 2m 21s	remaining: 11m 21s
43:	test: 0.8728516	best: 0.8728516 (43)	total: 2m 24s	remaining: 11m 17s
44:	test: 0.8728517	best: 0.8728517 (44)	total: 2m 27s	remaining: 11m 11s
45:	test: 0.8728746	best: 0.8728746 (45)	total: 2m 30s	remaining: 11m 8s
46:	test: 0.8729500	best: 0.8729500 (46)	total: 2m 34s	remaining: 11m 7s
47:	test: 0.8729518	best: 0.8729518 (47)	total: 2m 38s	remaining: 11m 6s
48:	test: 0.8729536	best: 0.8729536 (48)	total: 2m 41s	remaining: 11m 1s
49:	test: 0.8729617	best: 0.8729617 (49)	total: 2m 44s	remaining: 10m 56s
50:	test: 0.8730325	best: 0.8730325 (50)	total: 2m 46s	remaining: 10m 51s
51:	test: 0.8730407	best: 0.8730407 (51)	total: 2m 50s	remaining: 10m 47s
52:	test: 0.8730812	best: 0.8730812 (52)	total: 2m 53s	remaining: 10m 45s
53:	test: 0.8730839	best: 0.8730839 (53)	total: 2m 57s	remaining: 10m 42s
54:	test: 0.8730912	best: 0.8730912 (54)	total: 3m	remaining: 10m 40s
55:	test: 0.8730915	best: 0.8730915 (55)	total: 3m 3s	remaining: 10m 34s
56:	test: 0.8732430	best: 0.8732430 (56)	total: 3m 6s	remaining: 10m 31s
57:	test: 0.8733006	best: 0.8733006 (57)	total: 3m 10s	remaining: 10m 30s
58:	test: 0.8733008	best: 0.8733008 (58)	total: 3m 13s	remaining: 10m 26s
59:	test: 0.8733233	best: 0.8733233 (59)	total: 3m 16s	remaining: 10m 21s
60:	test: 0.8733280	best: 0.8733280 (60)	total: 3m 19s	remaining: 10m 17s
61:	test: 0.8733692	best: 0.8733692 (61)	total: 3m 22s	remaining: 10m 13s
62:	test: 0.8738875	best: 0.8738875 (62)	total: 3m 26s	remaining: 10m 11s
63:	test: 0.8738933	best: 0.8738933 (63)	total: 3m 29s	remaining: 10m 7s
64:	test: 0.8738945	best: 0.8738945 (64)	total: 3m 32s	remaining: 10m 4s
65:	test: 0.8739567	best: 0.8739567 (65)	total: 3m 35s	remaining: 10m 2s
66:	test: 0.8739912	best: 0.8739912 (66)	total: 3m 39s	remaining: 9m 58s
67:	test: 0.8740026	best: 0.8740026 (67)	total: 3m 42s	remaining: 9m 56s
68:	test: 0.8740241	best: 0.8740241 (68)	total: 3m 46s	remaining: 9m 53s
69:	test: 0.8740591	best: 0.8740591 (69)	total: 3m 49s	remaining: 9m 50s
70:	test: 0.8741049	best: 0.8741049 (70)	total: 3m 53s	remaining: 9m 47s
71:	test: 0.8741080	best: 0.8741080 (71)	total: 3m 56s	remaining: 9m 45s
72:	test: 0.8741874	best: 0.8741874 (72)	total: 3m 59s	remaining: 9m 41s
73:	test: 0.8745477	best: 0.8745477 (73)	total: 4m 3s	remaining: 9m 38s
74:	test: 0.8745534	best: 0.8745534 (74)	total: 4m 5s	remaining: 9m 33s
75:	test: 0.8745746	best: 0.8745746 (75)	total: 4m 8s	remaining: 9m 29s
76:	test: 0.8745937	best: 0.8745937 (76)	total: 4m 11s	remaining: 9m 25s
77:	test: 0.8746000	best: 0.8746000 (77)	total: 4m 14s	remaining: 9m 21s
78:	test: 0.8745967	best: 0.8746000 (77)	total: 4m 17s	remaining: 9m 17s
79:	test: 0.8746220	best: 0.8746220 (79)	total: 4m 21s	remaining: 9m 15s
80:	test: 0.8746342	best: 0.8746342 (80)	total: 4m 25s	remaining: 9m 13s
81:	test: 0.8746406	best: 0.8746406 (81)	total: 4m 28s	remaining: 9m 10s
82:	test: 0.8746410	best: 0.8746410 (82)	total: 4m 31s	remaining: 9m 5s
83:	test: 0.8746523	best: 0.8746523 (83)	total: 4m 34s	remaining: 9m 2s
84:	test: 0.8746620	best: 0.8746620 (84)	total: 4m 38s	remaining: 9m
85:	test: 0.8747562	best: 0.8747562 (85)	total: 4m 41s	remaining: 8m 56s
86:	test: 0.8749069	best: 0.8749069 (86)	total: 4m 44s	remaining: 8m 53s
87:	test: 0.8749079	best: 0.8749079 (87)	total: 4m 48s	remaining: 8m 50s
88:	test: 0.8749520	best: 0.8749520 (88)	total: 4m 51s	remaining: 8m 47s
89:	test: 0.8749584	best: 0.8749584 (89)	total: 4m 54s	remaining: 8m 43s
90:	test: 0.8749578	best: 0.8749584 (89)	total: 4m 57s	remaining: 8m 39s
91:	test: 0.8749588	best: 0.8749588 (91)	total: 5m	remaining: 8m 36s
92:	test: 0.8749935	best: 0.8749935 (92)	total: 5m 4s	remaining: 8m 33s
93:	test: 0.8749857	best: 0.8749935 (92)	total: 5m 7s	remaining: 8m 30s
94:	test: 0.8749874	best: 0.8749935 (92)	total: 5m 10s	remaining: 8m 26s
95:	test: 0.8755539	best: 0.8755539 (95)	total: 5m 13s	remaining: 8m 23s
96:	test: 0.8755830	best: 0.8755830 (96)	total: 5m 16s	remaining: 8m 18s
97:	test: 0.8755828	best: 0.8755830 (96)	total: 5m 19s	remaining: 8m 15s
98:	test: 0.8755831	best: 0.8755831 (98)	total: 5m 21s	remaining: 8m 10s
99:	test: 0.8755934	best: 0.8755934 (99)	total: 5m 24s	remaining: 8m 7s
100:	test: 0.8755990	best: 0.8755990 (100)	total: 5m 27s	remaining: 8m 3s
101:	test: 0.8755992	best: 0.8755992 (101)	total: 5m 30s	remaining: 8m
102:	test: 0.8755992	best: 0.8755992 (101)	total: 5m 33s	remaining: 7m 56s
103:	test: 0.8756069	best: 0.8756069 (103)	total: 5m 35s	remaining: 7m 50s
104:	test: 0.8756059	best: 0.8756069 (103)	total: 5m 38s	remaining: 7m 47s
105:	test: 0.8757116	best: 0.8757116 (105)	total: 5m 42s	remaining: 7m 44s
106:	test: 0.8756988	best: 0.8757116 (105)	total: 5m 46s	remaining: 7m 42s
107:	test: 0.8757014	best: 0.8757116 (105)	total: 5m 48s	remaining: 7m 38s
108:	test: 0.8757286	best: 0.8757286 (108)	total: 5m 52s	remaining: 7m 35s
109:	test: 0.8758644	best: 0.8758644 (109)	total: 5m 55s	remaining: 7m 32s
110:	test: 0.8759064	best: 0.8759064 (110)	total: 5m 59s	remaining: 7m 29s
111:	test: 0.8758964	best: 0.8759064 (110)	total: 6m 1s	remaining: 7m 25s

112:	test: 0.8759059	best: 0.8759064 (110)	total: 6m 4s	remaining: 7m 22s
113:	test: 0.8759130	best: 0.8759130 (113)	total: 6m 7s	remaining: 7m 18s
114:	test: 0.8759088	best: 0.8759130 (113)	total: 6m 10s	remaining: 7m 15s
115:	test: 0.8759734	best: 0.8759734 (115)	total: 6m 14s	remaining: 7m 12s
116:	test: 0.8760216	best: 0.8760216 (116)	total: 6m 18s	remaining: 7m 9s
117:	test: 0.8760213	best: 0.8760216 (116)	total: 6m 21s	remaining: 7m 6s
118:	test: 0.8760227	best: 0.8760227 (118)	total: 6m 24s	remaining: 7m 3s
119:	test: 0.8760249	best: 0.8760249 (119)	total: 6m 28s	remaining: 7m
120:	test: 0.8760250	best: 0.8760250 (120)	total: 6m 30s	remaining: 6m 56s
121:	test: 0.8760244	best: 0.8760250 (120)	total: 6m 32s	remaining: 6m 52s
122:	test: 0.8760396	best: 0.8760396 (122)	total: 6m 36s	remaining: 6m 49s
123:	test: 0.8760404	best: 0.8760404 (123)	total: 6m 40s	remaining: 6m 46s
124:	test: 0.8760537	best: 0.8760537 (124)	total: 6m 43s	remaining: 6m 43s
125:	test: 0.8761147	best: 0.8761147 (125)	total: 6m 47s	remaining: 6m 40s
126:	test: 0.8761138	best: 0.8761147 (125)	total: 6m 49s	remaining: 6m 36s
127:	test: 0.8761135	best: 0.8761147 (125)	total: 6m 53s	remaining: 6m 34s
128:	test: 0.8761185	best: 0.8761185 (128)	total: 6m 57s	remaining: 6m 31s
129:	test: 0.8761075	best: 0.8761185 (128)	total: 6m 59s	remaining: 6m 27s
130:	test: 0.8761121	best: 0.8761185 (128)	total: 7m 2s	remaining: 6m 23s
131:	test: 0.8761303	best: 0.8761303 (131)	total: 7m 5s	remaining: 6m 20s
132:	test: 0.8761303	best: 0.8761303 (132)	total: 7m 9s	remaining: 6m 17s
133:	test: 0.8761299	best: 0.8761303 (132)	total: 7m 11s	remaining: 6m 13s
134:	test: 0.8761296	best: 0.8761303 (132)	total: 7m 13s	remaining: 6m 9s
135:	test: 0.8762273	best: 0.8762273 (135)	total: 7m 17s	remaining: 6m 6s
136:	test: 0.8762356	best: 0.8762356 (136)	total: 7m 21s	remaining: 6m 3s
137:	test: 0.8762442	best: 0.8762442 (137)	total: 7m 23s	remaining: 6m
138:	test: 0.8762441	best: 0.8762442 (137)	total: 7m 26s	remaining: 5m 56s
139:	test: 0.8762433	best: 0.8762442 (137)	total: 7m 30s	remaining: 5m 53s
140:	test: 0.8762430	best: 0.8762442 (137)	total: 7m 33s	remaining: 5m 50s
141:	test: 0.8762650	best: 0.8762650 (141)	total: 7m 36s	remaining: 5m 47s
142:	test: 0.8763690	best: 0.8763690 (142)	total: 7m 40s	remaining: 5m 44s
143:	test: 0.8763716	best: 0.8763716 (143)	total: 7m 43s	remaining: 5m 41s
144:	test: 0.8763992	best: 0.8763992 (144)	total: 7m 46s	remaining: 5m 38s
145:	test: 0.8764002	best: 0.8764002 (145)	total: 7m 49s	remaining: 5m 34s
146:	test: 0.8764029	best: 0.8764029 (146)	total: 7m 52s	remaining: 5m 31s
147:	test: 0.8764029	best: 0.8764029 (147)	total: 7m 55s	remaining: 5m 27s
148:	test: 0.8764057	best: 0.8764057 (148)	total: 7m 58s	remaining: 5m 24s
149:	test: 0.8764058	best: 0.8764058 (149)	total: 8m	remaining: 5m 20s
150:	test: 0.8764128	best: 0.8764128 (150)	total: 8m 3s	remaining: 5m 17s
151:	test: 0.8764092	best: 0.8764128 (150)	total: 8m 7s	remaining: 5m 14s
152:	test: 0.8764092	best: 0.8764128 (150)	total: 8m 10s	remaining: 5m 10s
153:	test: 0.8764318	best: 0.8764318 (153)	total: 8m 13s	remaining: 5m 7s
154:	test: 0.8764321	best: 0.8764321 (154)	total: 8m 16s	remaining: 5m 4s
155:	test: 0.8764345	best: 0.8764345 (155)	total: 8m 20s	remaining: 5m 1s
156:	test: 0.8764306	best: 0.8764345 (155)	total: 8m 23s	remaining: 4m 58s
157:	test: 0.8764321	best: 0.8764345 (155)	total: 8m 26s	remaining: 4m 54s
158:	test: 0.8764339	best: 0.8764345 (155)	total: 8m 29s	remaining: 4m 51s
159:	test: 0.8764496	best: 0.8764496 (159)	total: 8m 33s	remaining: 4m 48s
160:	test: 0.8764530	best: 0.8764530 (160)	total: 8m 36s	remaining: 4m 45s
161:	test: 0.8766455	best: 0.8766455 (161)	total: 8m 40s	remaining: 4m 42s
162:	test: 0.8766455	best: 0.8766455 (162)	total: 8m 44s	remaining: 4m 39s
163:	test: 0.8766425	best: 0.8766455 (162)	total: 8m 47s	remaining: 4m 36s
164:	test: 0.8766424	best: 0.8766455 (162)	total: 8m 50s	remaining: 4m 33s
165:	test: 0.8766896	best: 0.8766896 (165)	total: 8m 53s	remaining: 4m 29s
166:	test: 0.8767761	best: 0.8767761 (166)	total: 8m 57s	remaining: 4m 26s
167:	test: 0.8769266	best: 0.8769266 (167)	total: 9m	remaining: 4m 23s
168:	test: 0.8769267	best: 0.8769267 (168)	total: 9m 3s	remaining: 4m 20s
169:	test: 0.8769283	best: 0.8769283 (169)	total: 9m 5s	remaining: 4m 16s
170:	test: 0.8769275	best: 0.8769283 (169)	total: 9m 9s	remaining: 4m 13s
171:	test: 0.8769272	best: 0.8769283 (169)	total: 9m 11s	remaining: 4m 10s
172:	test: 0.8769283	best: 0.8769283 (172)	total: 9m 14s	remaining: 4m 6s
173:	test: 0.8772686	best: 0.8772686 (173)	total: 9m 18s	remaining: 4m 3s
174:	test: 0.8772686	best: 0.8772686 (174)	total: 9m 20s	remaining: 4m
175:	test: 0.8773042	best: 0.8773042 (175)	total: 9m 23s	remaining: 3m 57s
176:	test: 0.8775688	best: 0.8775688 (176)	total: 9m 27s	remaining: 3m 53s
177:	test: 0.8775760	best: 0.8775760 (177)	total: 9m 31s	remaining: 3m 51s
178:	test: 0.8775775	best: 0.8775775 (178)	total: 9m 34s	remaining: 3m 47s
179:	test: 0.8775644	best: 0.8775775 (178)	total: 9m 37s	remaining: 3m 44s
180:	test: 0.8775648	best: 0.8775775 (178)	total: 9m 40s	remaining: 3m 41s
181:	test: 0.8775389	best: 0.8775775 (178)	total: 9m 44s	remaining: 3m 38s
182:	test: 0.8775380	best: 0.8775775 (178)	total: 9m 48s	remaining: 3m 35s
183:	test: 0.8778738	best: 0.8778738 (183)	total: 9m 51s	remaining: 3m 32s
184:	test: 0.8778844	best: 0.8778844 (184)	total: 9m 54s	remaining: 3m 28s
185:	test: 0.8779123	best: 0.8779123 (185)	total: 9m 57s	remaining: 3m 25s
186:	test: 0.8779110	best: 0.8779123 (185)	total: 10m 1s	remaining: 3m 22s
187:	test: 0.8779075	best: 0.8779123 (185)	total: 10m 4s	remaining: 3m 19s
188:	test: 0.8779078	best: 0.8779123 (185)	total: 10m 6s	remaining: 3m 15s
189:	test: 0.8779159	best: 0.8779159 (189)	total: 10m 10s	remaining: 3m 12s
190:	test: 0.8779165	best: 0.8779165 (190)	total: 10m 13s	remaining: 3m 9s
191:	test: 0.8779847	best: 0.8779847 (191)	total: 10m 16s	remaining: 3m 6s
192:	test: 0.8779964	best: 0.8779964 (192)	total: 10m 19s	remaining: 3m 3s
193:	test: 0.8779931	best: 0.8779964 (192)	total: 10m 22s	remaining: 2m 59s
194:	test: 0.8779966	best: 0.8779966 (194)	total: 10m 25s	remaining: 2m 56s
195:	test: 0.8779955	best: 0.8779966 (194)	total: 10m 28s	remaining: 2m 53s
196:	test: 0.8780003	best: 0.8780003 (196)	total: 10m 31s	remaining: 2m 49s
197:	test: 0.8780004	best: 0.8780004 (197)	total: 10m 34s	remaining: 2m 46s
198:	test: 0.8779892	best: 0.8780004 (197)	total: 10m 36s	remaining: 2m 43s
199:	test: 0.8779949	best: 0.8780004 (197)	total: 10m 40s	remaining: 2m 40s
200:	test: 0.8780032	best: 0.8780032 (200)	total: 10m 43s	remaining: 2m 36s
201:	test: 0.8780041	best: 0.8780041 (201)	total: 10m 45s	remaining: 2m 33s
202:	test: 0.8780057	best: 0.8780057 (202)	total: 10m 48s	remaining: 2m 30s
203:	test: 0.8780047	best: 0.8780057 (202)	total: 10m 51s	remaining: 2m 26s
204:	test: 0.8780047	best: 0.8780057 (202)	total: 10m 54s	remaining: 2m 23s
205:	test: 0.8780000	best: 0.8780057 (202)	total: 10m 57s	remaining: 2m 20s
206:	test: 0.8780961	best: 0.8780961 (206)	total: 11m	remaining: 2m 17s
207:	test: 0.8781030	best: 0.8781030 (207)	total: 11m 3s	remaining: 2m 14s
208:	test: 0.8781028	best: 0.8781030 (207)	total: 11m 7s	remaining: 2m 10s
209:	test: 0.8780777	best: 0.8781030 (207)	total: 11m 11s	remaining: 2m 7s
210:	test: 0.8780834	best: 0.8781030 (207)	total: 11m 15s	remaining: 2m 4s
211:	test: 0.8780972	best: 0.8781030 (207)	total: 11m 18s	remaining: 2m 1s
212:	test: 0.8780974	best: 0.8781030 (207)	total: 11m 21s	remaining: 1m 58s
213:	test: 0.8781018	best: 0.8781030 (207)	total: 11m 24s	remaining: 1m 55s
214:	test: 0.8780994	best: 0.8781030 (207)	total: 11m 28s	remaining: 1m 52s
215:	test: 0.8780998	best: 0.8781030 (207)	total: 11m 31s	remaining: 1m 48s
216:	test: 0.8781432	best: 0.8781432 (216)	total: 11m 35s	remaining: 1m 45s
217:	test: 0.8781399	best: 0.8781432 (216)	total: 11m 39s	remaining: 1m 42s
218:	test: 0.8781398	best: 0.8781432 (216)	total: 11m 42s	remaining: 1m 39s
219:	test: 0.8781403	best: 0.8781432 (216)	total: 11m 44s	remaining: 1m 36s
220:	test: 0.8781407	best: 0.8781432 (216)	total: 11m 47s	remaining: 1m 32s
221:	test: 0.8781404	best: 0.8781432 (216)	total: 11m 49s	remaining: 1m 29s

222:	test: 0.8782709	best: 0.8782709 (222)	total: 11m 53s	remaining: 1m 26s
223:	test: 0.8782690	best: 0.8782709 (222)	total: 11m 55s	remaining: 1m 23s
224:	test: 0.8782704	best: 0.8782709 (222)	total: 11m 58s	remaining: 1m 19s
225:	test: 0.8782727	best: 0.8782727 (225)	total: 12m 2s	remaining: 1m 16s
226:	test: 0.8782770	best: 0.8782770 (226)	total: 12m 5s	remaining: 1m 13s
227:	test: 0.8782772	best: 0.8782772 (227)	total: 12m 8s	remaining: 1m 10s
228:	test: 0.8782784	best: 0.8782784 (228)	total: 12m 10s	remaining: 1m 7s
229:	test: 0.8782864	best: 0.8782864 (229)	total: 12m 14s	remaining: 1m 3s
230:	test: 0.8782904	best: 0.8782904 (230)	total: 12m 17s	remaining: 1m
231:	test: 0.8782953	best: 0.8782953 (231)	total: 12m 20s	remaining: 57.5s
232:	test: 0.8782988	best: 0.8782988 (232)	total: 12m 24s	remaining: 54.3s
233:	test: 0.8782818	best: 0.8782988 (232)	total: 12m 27s	remaining: 51.1s
234:	test: 0.8783737	best: 0.8783737 (234)	total: 12m 30s	remaining: 47.9s
235:	test: 0.8783930	best: 0.8783930 (235)	total: 12m 34s	remaining: 44.7s
236:	test: 0.8783975	best: 0.8783975 (236)	total: 12m 36s	remaining: 41.5s
237:	test: 0.8784290	best: 0.8784290 (237)	total: 12m 40s	remaining: 38.3s
238:	test: 0.8784227	best: 0.8784290 (237)	total: 12m 43s	remaining: 35.2s
239:	test: 0.8784219	best: 0.8784290 (237)	total: 12m 46s	remaining: 31.9s
240:	test: 0.8787911	best: 0.8787911 (240)	total: 12m 49s	remaining: 28.7s
241:	test: 0.8787855	best: 0.8787911 (240)	total: 12m 52s	remaining: 25.5s
242:	test: 0.8787870	best: 0.8787911 (240)	total: 12m 54s	remaining: 22.3s
243:	test: 0.8787889	best: 0.8787911 (240)	total: 12m 57s	remaining: 19.1s
244:	test: 0.8787749	best: 0.8787911 (240)	total: 13m	remaining: 15.9s
245:	test: 0.8787717	best: 0.8787911 (240)	total: 13m 4s	remaining: 12.8s
246:	test: 0.8787715	best: 0.8787911 (240)	total: 13m 7s	remaining: 9.56s
247:	test: 0.8787893	best: 0.8787911 (240)	total: 13m 10s	remaining: 6.37s
248:	test: 0.8787885	best: 0.8787911 (240)	total: 13m 13s	remaining: 3.19s
249:	test: 0.8787946	best: 0.8787946 (249)	total: 13m 16s	remaining: 0us

bestTest = 0.8787946342
bestIteration = 249

OOf score 0.13836876177210783

In [72]:
## Aveage the  two models for train
print ('OOf score', f1_score(val_train['target'], ((0.5*oof_cat) + (0.5*oof_lgb) > 0.05).astype(int)))

OOf score 0.13776419242525784

In [73]:
## Average two models for test
predictions = (0.5*predictions_cat) + (0.5*predictions_lgb)

In [74]:
val_train['target'].value_counts(True)

0    0.995385
1    0.004615
Name: target, dtype: float64

## Evaluate the data

In [75]:
test['pred_prob'] = predictions
# test['prediction'] = (test['pred_prob']>0.07).astype(int) ## Ensembling_07        LB:0.123049956178791      
# test['prediction'] = (test['pred_prob']>0.06).astype(int) ## Ensembling_06        LB:0.12304120719675
# test['prediction'] = (test['pred_prob']>0.05).astype(int) ## Ensembling_05        LB:
test['prediction'] = (test['pred_prob']>0.065).astype(int) ## Ensembling_065       



test['prediction'].value_counts(True)

0    0.994913
1    0.005087
Name: prediction, dtype: float64

## Submission

In [76]:
test[['datetime x segment_id', 'prediction']].to_csv('Ensembling_065_v2.csv', index=False)

In [77]:
test.shape

(1174496, 45)

In [78]:
test.prediction.value_counts(True)

0    0.994913
1    0.005087
Name: prediction, dtype: float64