# Uber Movement Competition

In [1]:
import pandas as pd
# import pandas_profiling as pf 
import os
import numpy as np
import seaborn as sns
import matplotlib as plt
import datetime
from tqdm import tqdm
from sklearn.metrics import mean_squared_error
#from tqdm import tqdm
#tqdm.pandas()
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
from sklearn.neighbors import NearestNeighbors
%matplotlib inline
# !pip install pandas_profiling

import gc
import catboost
from catboost import CatBoostClassifier,Pool,cv

### Loading the Train Dataset

In [2]:
train = pd.read_csv('Data/train.csv')

### Handle Bad Data

In [3]:
train=train.rename(columns = {'Occurrence Local Date Time':'Datetime'})
train=train.rename(columns = {'road_segment_id':'segment_id'})

### Date conversion (make dayfirst=True)
train['Datetime'] = pd.to_datetime(train['Datetime'], dayfirst=True)

In [4]:
bad_seg = ['-34.0436786939','-33.9622761744','-33.8891283413','-34.0894652753','-33.9680008638']
for seg in bad_seg:
    train.loc[train['segment_id'] == seg , 'longitude']  = train.loc[train['segment_id'] == seg , 'latitude']
    train.loc[train['segment_id'] == seg , 'latitude']  = train.loc[train['segment_id'] == seg , 'segment_id']
    train.loc[train['segment_id'] == seg , 'segment_id']  = np.nan

In [5]:
train[train.segment_id.isna()]

,EventId,Datetime,Reporting Agency,Cause,Subcause,Status,longitude,latitude,segment_id
16693,88632,2016-12-09 04:45:00,NaN,Cam,Accident,Single Vehicle,18.5642,-33.9622761744,NaN
23455,100642,2017-05-16 07:22:00,NaN,cdam,Congestion,Any,18.8397,-34.0894652753,NaN
23747,101150,2017-05-21 08:30:00,NaN,cam,Routine Road Maintenance,Any,18.5798,-33.9680008638,NaN
27586,108150,2017-08-30 07:12:00,NaN,cam,Congestion,Any,18.6146,-33.8891283413,NaN
30341,112789,2017-10-21 08:03:00,NaN,cam,Stationary Vehicle,Vehicle On Shoulder,18.7424,-34.0436786939,NaN

In [6]:
train.loc[train['EventId'] == 88632, 'segment_id']   = '6OTRJQF'
train.loc[train['EventId'] == 100642, 'segment_id']   = 'Q03FQ74'
train.loc[train['EventId'] == 101150, 'segment_id']   = 'S2QPOTD'
train.loc[train['EventId'] == 108150, 'segment_id']   = 'LNO3W8J'
train.loc[train['EventId'] == 112789, 'segment_id']   = 'IUTMY1U'

In [7]:
train[train.segment_id.isna()]

Empty DataFrame
Columns: [EventId, Datetime, Reporting Agency, Cause, Subcause, Status, longitude, latitude, segment_id]
Index: []

### Accident Features

In [8]:
Accident = train.segment_id.value_counts().reset_index().rename(columns = {'index':'Road_Segment',
                                                                    'segment_id':'Accident'})
Accident['Accident'] = Accident['Accident'].astype('int32')

In [9]:
ls Data

Accident_Per_SegmentId.csv  seg_Length.csv            seg_pavement_v2.csv
Add_feat_cause.csv          seg_Length_v2.csv         seg_roadtype.csv
GeoData_001to1107.csv       SegmentId_and_suburb.csv  seg_roadtype_v2.csv
GeoData_1107tolast.csv      segment_id_suburb_v2.csv  train.csv
road_segments/              seg_pavement.csv          weather.csv

In [10]:
# test = pd.read_csv('Data/SampleSubmission.csv',error_bad_lines=False)
# Suburb = pd.read_csv("Data/segment_id_suburb_v2.csv")
Suburb = pd.read_csv("Data/SegmentId_and_suburb.csv")
road_type = pd.read_csv("Data/seg_roadtype_v2.csv")
road_pavement = pd.read_csv("Data/seg_pavement_v2.csv")
road_Length = pd.read_csv("Data/seg_Length_v2.csv")

In [11]:
train.head()

,EventId,Datetime,Reporting Agency,Cause,Subcause,Status,longitude,latitude,segment_id
0,60558,2016-01-01 00:53:00,Cam,Stationary Vehicle,Vehicle On Shoulder,Closed,18.5408955032,-33.8883,S0B3CGQ
1,60559,2016-01-01 00:54:00,CAMERA,Accident,With A Fixed Object,Closed,18.9307563219,-34.1409,RYJYAPI
2,60560,2016-01-01 02:26:00,Law Enforcement,Accident,Multi Vehicle,Closed,18.5533575029,-33.9592,U3KP57C
3,60561,2016-01-01 02:56:00,CAMERA,Stationary Vehicle,Vehicle On Shoulder,Closed,18.6775561589,-33.8953,RY0TRQ8
4,60562,2016-01-01 03:40:00,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.0871,8LOVJZ3

## Weather Data

In [12]:
w = pd.read_csv('Data/weather.csv', sep=";", skiprows=6, usecols=range(14),
               parse_dates=['Local time in Cape Town (airport)'])

In [13]:
w.head()

,Local time in Cape Town (airport),T,P0,P,U,DD,Ff,ff10,WW,W'W',c,VV,Td,Unnamed: 13
0,2019-04-04 23:00:00,15.0,762.0,765.8,77.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 720 m, broken clouds...",10.0 and more,11.0,NaN
1,2019-04-04 22:00:00,16.0,761.2,765.0,77.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 570 m, broken clouds...",10.0 and more,12.0,NaN
2,2019-04-04 21:59:00,16.0,761.2,765.0,77.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 570 m, broken clouds...",10.0 and more,12.0,NaN
3,2019-04-04 21:01:00,15.0,761.2,765.0,94.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 150 m, broken clouds...",10.0 and more,14.0,NaN
4,2019-04-04 21:00:00,15.0,761.2,765.0,94.0,Wind blowing from the south-southeast,6.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 150 m, broken clouds...",10.0 and more,14.0,NaN

In [14]:
w['dt'] = w['Local time in Cape Town (airport)'].dt.round('H')
w['dt_2'] = w['Local time in Cape Town (airport)'].dt.floor('H')

w_cols = ['dt','dt_2', 'T', 'P0', 'P', 'U', 'Ff']

### Get Extra Feature from Segment

In [15]:
### Count of occurance of incident
Seg_Group = train.groupby(['segment_id','Datetime']).size().reset_index(name='Counts')

### Mapping the Segment_id - from text to number
LE = LabelEncoder()
Seg_Group['segmentid_num'] = LE.fit_transform(Seg_Group['segment_id'])

# Make all 3 digits of segments
Seg_Group['segmentid_num3'] = [str(x).zfill(3) for x in Seg_Group['segmentid_num']]

# Add 'seg_' to 3digit segment_id
Seg_Group['segment_idx'] = 'seg_'+Seg_Group.segmentid_num3.astype('str')

In [16]:
Seg_Group.head()

,segment_id,Datetime,Counts,segmentid_num,segmentid_num3,segment_idx
0,03RHJ3G,2016-01-01 09:02:00,1,0,000,seg_000
1,03RHJ3G,2016-01-04 09:46:00,1,0,000,seg_000
2,03RHJ3G,2016-01-04 13:29:00,1,0,000,seg_000
3,03RHJ3G,2016-01-05 14:41:00,1,0,000,seg_000
4,03RHJ3G,2016-01-05 16:10:00,1,0,000,seg_000

### Extract unique Segment Id

In [17]:
## Drop duplicate segment_id
SegIdQ = Seg_Group[['segment_id','segment_idx','segmentid_num']].drop_duplicates()
# segment_id_1
SegIdQx = SegIdQ['segment_id'].unique()
# segmen_id_2
SegIdQx2 = SegIdQ['segment_idx'].unique()

### Add centre of Segment

In [18]:
train.longitude = train.longitude.astype(float)
train.latitude = train.latitude.astype(float)

## Get centre location of the segment
location =  train.groupby('segment_id').median()[['longitude', 'latitude']]
SegIdQ = SegIdQ.merge(location, left_on=['segment_id'], how="left", right_index=True)

In [19]:
SegIdQ.head()

    segment_id segment_idx  segmentid_num  longitude   latitude
0      03RHJ3G     seg_000              0  18.459897 -33.943257
582    044ZYVD     seg_001              1  18.554505 -33.890213
613    086LLYS     seg_002              2  18.432873 -33.918816
637    0B0QOEN     seg_003              3  18.477737 -33.917932
790    0F3OY57     seg_004              4  18.773261 -34.057950

### Add other segment related feat

In [20]:
## Add centre Accident_count to data_set
SegIdQ = pd.merge(SegIdQ, Accident[['Road_Segment','Accident']], left_on='segment_id', right_on='Road_Segment', how='left') # Segment locations
SegIdQ = pd.merge(SegIdQ, Suburb[['segment_id','suburb']], left_on='segment_id', right_on='segment_id', how='left') # Segment locations
# SegIdQ = pd.merge(SegIdQ, Cause, left_on='segment_id', right_on='Road_Segment', how='left') # Segment locations

In [21]:
## Add centre Other  to data_set
SegIdQ = pd.merge(SegIdQ, road_Length, left_on='segment_id', right_on='segment_id', how='left') # Segment locations
SegIdQ = pd.merge(SegIdQ, road_type, left_on='segment_id', right_on='segment_id', how='left') # Segment locations
SegIdQ = pd.merge(SegIdQ, road_pavement, left_on='segment_id', right_on='segment_id', how='left') # Segment locations

### Merging Train Dataset with Segment Features from NoteBook(`Geo-Spatial Features Extraction_v3`)

In [22]:
trainX = pd.merge(train, SegIdQ, on=['segment_id'], how="left")
print('Train # B4 merging',len(train))
print('Train # After merging',len(trainX))

Train # B4 merging 53845
Train # After merging 53845

In [23]:
# del SegIdQ
del train

In [24]:
# trainX.to_csv('train_transformed.csv', index=False)

### CreateTrain Target

In [25]:
## Get day not in Train day and save as missing_days
Main_day = pd.date_range('2016-01-01','2018-12-31',
                           freq="1D")
Main_day = pd.DataFrame({'datetime':Main_day.date})

train_days = trainX['Datetime'].dt.date.drop_duplicates()
missing_days = Main_day[~Main_day['datetime'].isin(train_days)]

del train_days, Main_day
missing_days['datetime'] = pd.to_datetime(missing_days.datetime)

In [26]:
Data1Hour = pd.date_range('2016-01-01',
                          '2018-12-31 23:00:00',
                           freq="1h")
Data1Hour = pd.DataFrame({'datetime':Data1Hour})
###Remove missing date from date range
Data1Hour = Data1Hour[~Data1Hour['datetime'].dt.date.isin(missing_days['datetime'].dt.date)]

# Generate Target
for SegId in SegIdQx2:
    Data1Hour[str(SegId)] = 0
    events = trainX.loc[trainX['segment_idx'] == SegId]
    dts = events['Datetime'].dt.floor('H')
    dates = dts.astype(str).unique()
    Data1Hour.loc[Data1Hour['datetime'].isin(dates), SegId] = 1

In [27]:
Data1Hour.shape

(24672, 545)

### Create Test Target

In [28]:
test1Hour = pd.date_range('2019-01-01 01:00:00',
                          '2019-03-31 23:00:00' ,
                           freq="1h")

test1Hour = pd.DataFrame({'datetime':test1Hour})

# Generate Target
for SegId in SegIdQx2:
    test1Hour[str(SegId)] = np.NAN

In [29]:
test1Hour.set_index('datetime', inplace=True)
Data1Hour.set_index('datetime', inplace=True)

### Convert seg to Id

In [30]:
Data1Hour = Data1Hour.reset_index()
test1Hour = test1Hour.reset_index()

In [31]:
Data1Hour = pd.melt(Data1Hour, id_vars=['datetime'])
Data1Hour.rename(columns={'variable': 'seg', 'value': 'target'}, inplace=True)
Data1Hour['seg'] = Data1Hour.seg.map(lambda x: int(x[4:]))
Data1Hour.set_index('datetime', inplace=True)
# Data1Hour.sort_values('datetime', inplace=True)
Data1Hour = Data1Hour.sort_values('datetime')



test1Hour = pd.melt(test1Hour, id_vars=['datetime'])
test1Hour.rename(columns={'variable': 'seg', 'value': 'target'}, inplace=True)
test1Hour['seg'] = test1Hour.seg.map(lambda x: int(x[4:]))
test1Hour.set_index('datetime', inplace=True)

test1Hour = test1Hour.sort_values('datetime')

In [32]:
Data1Hour.head()

            seg  target
datetime
2016-01-01    0       0
2016-01-01  170       0
2016-01-01  171       0
2016-01-01  172       0
2016-01-01  173       0

### Timebased FeatEngineering

In [33]:
attr = ["Hour","Year", 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear','quarter',"weekday_name",
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']

for n in attr: 
    Data1Hour[n] = getattr(Data1Hour.index, n.lower())
    test1Hour[n] = getattr(test1Hour.index, n.lower())

# Data1Hour['Elapsed'] = Data1Hour.index.astype(np.int64) // 10 ** 9
# test1Hour['Elapsed'] = test1Hour.index.astype(np.int64) // 10 ** 9

In [34]:
## WeekEnd
Data1Hour['IsWeekend'] = np.where(Data1Hour['Dayofweek'] < 5,0,1)
test1Hour['IsWeekend'] = np.where(test1Hour['Dayofweek'] < 5,0,1)

In [35]:
# Holiday 
from pandas.tseries.holiday import *
from pandas.tseries.offsets import CustomBusinessDay

class SouthAfricaHoliday(AbstractHolidayCalendar):
   rules = [
     Holiday('New Year', month=1, day=1, observance=sunday_to_monday),
     Holiday('Human Rights Day', month=3, day=21, observance=sunday_to_monday),
     Holiday('Good Friday', month=1, day=1, offset=[Easter(), Day(-2)]),
     Holiday('Easter Monday', month=1, day=1, offset=[Easter(), Day(1)]),
     Holiday('Freedom Day', month=4, day=27, observance=sunday_to_monday),
     Holiday('Workers Day', month=5, day=1,observance=sunday_to_monday),
     Holiday('Youth Day', month=6, day=16, observance=sunday_to_monday),
     Holiday('Womens Day', month=8, day=9, observance=sunday_to_monday),
     Holiday('Heritage Day', month=9, day=24, observance=sunday_to_monday),
     Holiday('Day of Reconcilation', month=12, day=16, observance=sunday_to_monday),
     Holiday('Goodwill Day', month=12, day=26, observance=sunday_to_monday),
     Holiday('Christmas', month=12, day=25)
   ]

In [36]:
Data1Hour.index.min(), test1Hour.index.max()

(Timestamp('2016-01-01 00:00:00'), Timestamp('2019-03-31 23:00:00'))

In [37]:
hol= SouthAfricaHoliday()
myholidays =hol.holidays(start=Data1Hour.index.min(), end =test1Hour.index.max())
hol_day = pd.Series(myholidays)

### election
election_day = "2019-08-03"
hol_day = hol_day.append(pd.to_datetime(pd.Series([election_day])),ignore_index=True)

In [38]:
## Create instance of holiday in a new column
Data1Hour['IsHoliday'] = np.where((pd.to_datetime(Data1Hour.index.date)).isin(hol_day) ,1,0)
test1Hour['IsHoliday'] = np.where((pd.to_datetime(test1Hour.index.date)).isin(hol_day) ,1,0)

In [39]:
# pay_day 

Data1Hour['PayDay'] = np.where((Data1Hour['Day'] < 25) ,0,1)
Data1Hour['PayDay_Teachers'] = np.where(Data1Hour['Day'] < 22,0,1)


test1Hour['PayDay'] = np.where((test1Hour['Day'] < 25) ,0,1)
test1Hour['PayDay_Teachers'] = np.where(test1Hour['Day'] < 22,0,1)

In [40]:
Data1Hour['min'] = Data1Hour.index.hour*60+Data1Hour.index.minute
test1Hour['min'] = test1Hour.index.hour*60+test1Hour.index.minute

Data1Hour['Hour_sin'] = np.sin(2 * np.pi * Data1Hour['Hour']/23.0)
Data1Hour['Hour_cos'] = np.cos(2 * np.pi * Data1Hour['Hour']/23.0)

test1Hour['Hour_sin'] = np.sin(2 * np.pi * test1Hour['Hour']/23.0)
test1Hour['Hour_cos'] = np.cos(2 * np.pi * test1Hour['Hour']/23.0)

In [41]:
Data1Hour.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos'],
      dtype='object')

In [42]:
Data1Hour.shape

(13421568, 24)

In [43]:
Data1Hour.target.value_counts(True)

0    0.99617
1    0.00383
Name: target, dtype: float64

In [44]:
gc.collect()

163

### Preprocessing 2

In [45]:
## Memory reduce Function
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [46]:
train = reduce_mem_usage(Data1Hour)
test = reduce_mem_usage(test1Hour)

Memory usage of dataframe is 2062.37 MB
Memory usage after optimization is: 603.19 MB
Decreased by 70.8%
Memory usage of dataframe is 216.97 MB
Memory usage after optimization is: 96.00 MB
Decreased by 55.8%

In [47]:
train.target.value_counts(True)

0    0.99617
1    0.00383
Name: target, dtype: float64

In [48]:
train = train.sort_values('datetime')
test = test.sort_values('datetime')

## Merge New features to Train and Test DataSet

In [49]:
test.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos'],
      dtype='object')

In [50]:
test['datetime'] = test.index
train['datetime'] = train.index

In [51]:
## Merge Weather
w = w[w_cols].drop_duplicates(['dt_2'])
train = pd.merge(train, w[w_cols], left_index=True, right_on='dt_2', how='left') # Weather
test = pd.merge(test, w[w_cols], left_index=True, right_on='dt_2', how='left') # Weather

In [52]:
## Merge Other New feature Stored in SegIdQ
train = pd.merge(train, SegIdQ, left_on=['seg'], right_on=['segmentid_num'], how="left")
test = pd.merge(test, SegIdQ, left_on=['seg'], right_on=['segmentid_num'], how="left")

In [53]:
test.set_index('datetime', inplace=True)
train.set_index('datetime', inplace=True)

In [54]:
test['datetime x segment_id'] = test.index.astype('str') + ' x ' + test['segment_id']

In [55]:
train.shape, test.shape

((13421568, 42), (1174496, 43))

## Modelling

In [56]:
import matplotlib.pyplot as plt
from sklearn.metrics import log_loss
from sklearn.metrics import f1_score
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix, f1_score, precision_recall_curve

In [57]:
train.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos', 'dt', 'dt_2', 'T', 'P0', 'P', 'U', 'Ff',
       'segment_id', 'segment_idx', 'segmentid_num', 'longitude', 'latitude',
       'Road_Segment', 'Accident', 'suburb', 'length_1', 'roadno', 'surftype'],
      dtype='object')

In [58]:
### Columns to be deleted
del_col = [
       'Day', 
#          'Dayofweek', 'Hour', 
#          'Hour_cos', 'Hour_sin',
#        'IsHoliday', 'IsWeekend', 
       'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 
       'Is_year_end', 'Is_year_start',
       'PayDay', 
       'PayDay_Teachers', 
       'Week', 
        'min',
       'quarter', 
#        'seg',
    'dt',
     'dt_2',
     'T',
     'P0',
     'P',
     'U',
     'Ff',
#     'RoadNo',
#     'SURFTYPE'
      'Cause', 'Freq', 'CatNo_cause',
#     'longitude', 'latitude',
#     'Accident', 'suburb',
      'weekday_name','Dayofyear',
      'Road_Segment_x','segment_id','Road_Segment_y','Month', 'segmentid_num','segment_idx',       
      'target','Year','SegmentId','SegmentId_x','SegmentId_y','Road_Segment'
   ]

In [59]:
train.columns

Index(['seg', 'target', 'Hour', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'quarter', 'weekday_name', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'IsWeekend', 'IsHoliday', 'PayDay', 'PayDay_Teachers',
       'min', 'Hour_sin', 'Hour_cos', 'dt', 'dt_2', 'T', 'P0', 'P', 'U', 'Ff',
       'segment_id', 'segment_idx', 'segmentid_num', 'longitude', 'latitude',
       'Road_Segment', 'Accident', 'suburb', 'length_1', 'roadno', 'surftype'],
      dtype='object')

#### Specify Cat col And Encode Them

In [60]:
cat_cols = ['Hour','Dayofweek','seg','suburb','roadno','surftype']
LE = LabelEncoder()
for col in cat_cols:
    train[col] = train[col].replace({np.nan:'NaN'})
    train[col] = LE.fit_transform(train[col])
    
    test[col] = test[col].replace({np.nan:'NaN'})
    test[col] =  LE.transform(test[col])

### Specify TrainSet
Train with only 2018 because it is the most recent  data

In [61]:
start      = '2018-01-01'
split_date = '2018-10-01'


val_train = train[(train.index >= start) & (train.index <='2018-12-31 23:00:00')]
val_test = train[train.index >= split_date]

val_train.shape, val_test.shape

((4752384, 42), (1201152, 42))

In [62]:
# Remove August because it contains very few number of records
val_train = val_train[~((val_train.index >= '2018-08-01') & (val_train.index <'2018-09-01'))]

In [63]:
print ('Val_train Target value count \n', val_train['target'].value_counts(True))
print ('Val_test Target value count \n', val_test['target'].value_counts(True))

Val_train Target value count
 0    0.995385
1    0.004615
Name: target, dtype: float64
Val_test Target value count
 0    0.993427
1    0.006573
Name: target, dtype: float64

### Features for training

In [64]:
features = [x for x in train.columns if x not in del_col]
features

['seg',
 'Hour',
 'Dayofweek',
 'IsWeekend',
 'IsHoliday',
 'Hour_sin',
 'Hour_cos',
 'longitude',
 'latitude',
 'Accident',
 'suburb',
 'length_1',
 'roadno',
 'surftype']

In [65]:
## Reduce training Features
val_train[features] = reduce_mem_usage(val_train[features] )
val_test[features] = reduce_mem_usage(val_test[features] )

Memory usage of dataframe is 373.16 MB

/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Memory usage after optimization is: 120.24 MB
Decreased by 67.8%
Memory usage of dataframe is 103.10 MB

/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/zindistars2/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Memory usage after optimization is: 33.22 MB
Decreased by 67.8%

In [66]:
## lgb Parametres

lgb_params = {
          "booster": "gbtree",
          "eta": 0.05,
         'num_iterations': 190,
         'verbosity': 50,
         'silent': 1,
         'eval_metric': 'binary_logloss',
         'seed': 2020,
         'metric': 'binary_logloss',
         "max_depth": 15,
          'is_unbalance': True,
          "subsample": 0.8,
          "colsample_bytree": 0.8,
          "alpha": 0.4
}



## Cat_boost Parametres
cat_params= {
            'num_boost_round': 250,
            'use_best_model':True,
            'depth': 8,
            'random_state': 2020,
            'eval_metric': 'AUC', 
            'loss_function': 'Logloss',
            'verbose': True
}

### Lgb

In [67]:
from sklearn.metrics import f1_score, accuracy_score
from sklearn.metrics import confusion_matrix, f1_score, precision_recall_curve
import matplotlib.pyplot as plt

In [68]:
trn_data = lgb.Dataset(val_train[features], label=val_train['target'])
clf = lgb.train(lgb_params, trn_data, 190)

predictions_lgb = clf.predict(test[features])
oof_lgb = clf.predict(val_train[features])
print ('OOf score', f1_score(val_train['target'], (oof_lgb > 0.05).astype(int)))

/home/zindistars2/anaconda3/lib/python3.7/site-packages/lightgbm/engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/home/zindistars2/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:842: UserWarning: silent keyword has been found in `params` and will be ignored.
Please use silent argument of the Dataset constructor to pass this parameter.
  .format(key))

OOf score 0.13560956148808137

In [69]:
## 0.13560956148808137

### CatBoost

In [70]:
import gc
import catboost
from catboost import CatBoostClassifier,Pool,cv,CatBoost

In [71]:
trn_data = Pool(val_train[features], label=val_train['target'],cat_features = cat_cols)

clf = CatBoost(cat_params)
clf.fit(trn_data,verbose_eval = True,eval_set=(trn_data))  
predictions_cat = clf.predict(test[features],prediction_type='Probability')[:,1]
oof_cat = clf.predict(val_train[features],prediction_type='Probability')[:,1]
print ('OOf score', f1_score(val_train['target'], (oof_cat > 0.05).astype(int)))

Learning rate set to 0.458621
0:	test: 0.7869819	best: 0.7869819 (0)	total: 3.93s	remaining: 16m 19s
1:	test: 0.8344682	best: 0.8344682 (1)	total: 7.49s	remaining: 15m 28s
2:	test: 0.8383004	best: 0.8383004 (2)	total: 11.1s	remaining: 15m 16s
3:	test: 0.8454366	best: 0.8454366 (3)	total: 14.4s	remaining: 14m 45s
4:	test: 0.8493965	best: 0.8493965 (4)	total: 17.8s	remaining: 14m 32s
5:	test: 0.8572704	best: 0.8572704 (5)	total: 21.1s	remaining: 14m 16s
6:	test: 0.8579470	best: 0.8579470 (6)	total: 24.6s	remaining: 14m 14s
7:	test: 0.8581947	best: 0.8581947 (7)	total: 27.9s	remaining: 14m 3s
8:	test: 0.8613665	best: 0.8613665 (8)	total: 31.1s	remaining: 13m 53s
9:	test: 0.8623325	best: 0.8623325 (9)	total: 34.7s	remaining: 13m 52s
10:	test: 0.8647969	best: 0.8647969 (10)	total: 38.3s	remaining: 13m 51s
11:	test: 0.8652300	best: 0.8652300 (11)	total: 41.8s	remaining: 13m 48s
12:	test: 0.8653167	best: 0.8653167 (12)	total: 44.9s	remaining: 13m 39s
13:	test: 0.8659064	best: 0.8659064 (13)	total: 48.2s	remaining: 13m 32s
14:	test: 0.8667945	best: 0.8667945 (14)	total: 51.5s	remaining: 13m 27s
15:	test: 0.8670241	best: 0.8670241 (15)	total: 55.1s	remaining: 13m 25s
16:	test: 0.8679190	best: 0.8679190 (16)	total: 58.4s	remaining: 13m 20s
17:	test: 0.8679640	best: 0.8679640 (17)	total: 1m 1s	remaining: 13m 16s
18:	test: 0.8679841	best: 0.8679841 (18)	total: 1m 5s	remaining: 13m 17s
19:	test: 0.8684530	best: 0.8684530 (19)	total: 1m 9s	remaining: 13m 16s
20:	test: 0.8692567	best: 0.8692567 (20)	total: 1m 13s	remaining: 13m 16s
21:	test: 0.8695301	best: 0.8695301 (21)	total: 1m 16s	remaining: 13m 12s
22:	test: 0.8701436	best: 0.8701436 (22)	total: 1m 19s	remaining: 13m 8s
23:	test: 0.8701506	best: 0.8701506 (23)	total: 1m 22s	remaining: 13m 1s
24:	test: 0.8701571	best: 0.8701571 (24)	total: 1m 24s	remaining: 12m 44s
25:	test: 0.8702419	best: 0.8702419 (25)	total: 1m 27s	remaining: 12m 37s
26:	test: 0.8702427	best: 0.8702427 (26)	total: 1m 31s	remaining: 12m 31s
27:	test: 0.8703247	best: 0.8703247 (27)	total: 1m 34s	remaining: 12m 28s
28:	test: 0.8705972	best: 0.8705972 (28)	total: 1m 37s	remaining: 12m 26s
29:	test: 0.8711602	best: 0.8711602 (29)	total: 1m 41s	remaining: 12m 21s
30:	test: 0.8714170	best: 0.8714170 (30)	total: 1m 44s	remaining: 12m 14s
31:	test: 0.8714187	best: 0.8714187 (31)	total: 1m 46s	remaining: 12m 5s
32:	test: 0.8714187	best: 0.8714187 (31)	total: 1m 47s	remaining: 11m 45s
33:	test: 0.8714360	best: 0.8714360 (33)	total: 1m 50s	remaining: 11m 40s
34:	test: 0.8714788	best: 0.8714788 (34)	total: 1m 53s	remaining: 11m 34s
35:	test: 0.8714786	best: 0.8714788 (34)	total: 1m 55s	remaining: 11m 28s
36:	test: 0.8714791	best: 0.8714791 (36)	total: 1m 57s	remaining: 11m 15s
37:	test: 0.8720353	best: 0.8720353 (37)	total: 2m	remaining: 11m 13s
38:	test: 0.8720585	best: 0.8720585 (38)	total: 2m 3s	remaining: 11m 9s
39:	test: 0.8720586	best: 0.8720586 (39)	total: 2m 7s	remaining: 11m 7s
40:	test: 0.8720699	best: 0.8720699 (40)	total: 2m 9s	remaining: 11m
41:	test: 0.8720749	best: 0.8720749 (41)	total: 2m 12s	remaining: 10m 57s
42:	test: 0.8721037	best: 0.8721037 (42)	total: 2m 16s	remaining: 10m 55s
43:	test: 0.8728119	best: 0.8728119 (43)	total: 2m 19s	remaining: 10m 53s
44:	test: 0.8728114	best: 0.8728119 (43)	total: 2m 22s	remaining: 10m 48s
45:	test: 0.8730836	best: 0.8730836 (45)	total: 2m 25s	remaining: 10m 46s
46:	test: 0.8730949	best: 0.8730949 (46)	total: 2m 29s	remaining: 10m 44s
47:	test: 0.8734592	best: 0.8734592 (47)	total: 2m 32s	remaining: 10m 41s
48:	test: 0.8734599	best: 0.8734599 (48)	total: 2m 35s	remaining: 10m 39s
49:	test: 0.8734736	best: 0.8734736 (49)	total: 2m 38s	remaining: 10m 34s
50:	test: 0.8735312	best: 0.8735312 (50)	total: 2m 42s	remaining: 10m 32s
51:	test: 0.8735835	best: 0.8735835 (51)	total: 2m 45s	remaining: 10m 30s
52:	test: 0.8735959	best: 0.8735959 (52)	total: 2m 48s	remaining: 10m 25s
53:	test: 0.8736037	best: 0.8736037 (53)	total: 2m 52s	remaining: 10m 24s
54:	test: 0.8736081	best: 0.8736081 (54)	total: 2m 55s	remaining: 10m 21s
55:	test: 0.8736081	best: 0.8736081 (55)	total: 2m 58s	remaining: 10m 16s
56:	test: 0.8736078	best: 0.8736081 (55)	total: 3m	remaining: 10m 12s
57:	test: 0.8736158	best: 0.8736158 (57)	total: 3m 3s	remaining: 10m 7s
58:	test: 0.8736175	best: 0.8736175 (58)	total: 3m 6s	remaining: 10m 2s
59:	test: 0.8736455	best: 0.8736455 (59)	total: 3m 9s	remaining: 9m 59s
60:	test: 0.8736475	best: 0.8736475 (60)	total: 3m 11s	remaining: 9m 54s
61:	test: 0.8736520	best: 0.8736520 (61)	total: 3m 14s	remaining: 9m 50s
62:	test: 0.8736555	best: 0.8736555 (62)	total: 3m 17s	remaining: 9m 47s
63:	test: 0.8736634	best: 0.8736634 (63)	total: 3m 21s	remaining: 9m 44s
64:	test: 0.8736595	best: 0.8736634 (63)	total: 3m 24s	remaining: 9m 41s
65:	test: 0.8738130	best: 0.8738130 (65)	total: 3m 27s	remaining: 9m 39s
66:	test: 0.8740220	best: 0.8740220 (66)	total: 3m 31s	remaining: 9m 37s
67:	test: 0.8741167	best: 0.8741167 (67)	total: 3m 35s	remaining: 9m 35s
68:	test: 0.8742766	best: 0.8742766 (68)	total: 3m 38s	remaining: 9m 33s
69:	test: 0.8742872	best: 0.8742872 (69)	total: 3m 41s	remaining: 9m 29s
70:	test: 0.8743375	best: 0.8743375 (70)	total: 3m 44s	remaining: 9m 26s
71:	test: 0.8747085	best: 0.8747085 (71)	total: 3m 47s	remaining: 9m 21s
72:	test: 0.8747231	best: 0.8747231 (72)	total: 3m 50s	remaining: 9m 19s
73:	test: 0.8747451	best: 0.8747451 (73)	total: 3m 54s	remaining: 9m 16s
74:	test: 0.8747443	best: 0.8747451 (73)	total: 3m 57s	remaining: 9m 14s
75:	test: 0.8747684	best: 0.8747684 (75)	total: 4m	remaining: 9m 11s
76:	test: 0.8751083	best: 0.8751083 (76)	total: 4m 4s	remaining: 9m 8s
77:	test: 0.8751097	best: 0.8751097 (77)	total: 4m 6s	remaining: 9m 4s
78:	test: 0.8751293	best: 0.8751293 (78)	total: 4m 9s	remaining: 9m
79:	test: 0.8751277	best: 0.8751293 (78)	total: 4m 13s	remaining: 8m 57s
80:	test: 0.8751289	best: 0.8751293 (78)	total: 4m 16s	remaining: 8m 54s
81:	test: 0.8751989	best: 0.8751989 (81)	total: 4m 20s	remaining: 8m 52s
82:	test: 0.8752004	best: 0.8752004 (82)	total: 4m 23s	remaining: 8m 49s
83:	test: 0.8752091	best: 0.8752091 (83)	total: 4m 26s	remaining: 8m 47s
84:	test: 0.8752112	best: 0.8752112 (84)	total: 4m 29s	remaining: 8m 43s
85:	test: 0.8753188	best: 0.8753188 (85)	total: 4m 33s	remaining: 8m 41s
86:	test: 0.8753188	best: 0.8753188 (85)	total: 4m 35s	remaining: 8m 36s
87:	test: 0.8753188	best: 0.8753188 (87)	total: 4m 38s	remaining: 8m 33s
88:	test: 0.8753179	best: 0.8753188 (87)	total: 4m 42s	remaining: 8m 30s
89:	test: 0.8755191	best: 0.8755191 (89)	total: 4m 45s	remaining: 8m 27s
90:	test: 0.8755198	best: 0.8755198 (90)	total: 4m 49s	remaining: 8m 25s
91:	test: 0.8755231	best: 0.8755231 (91)	total: 4m 52s	remaining: 8m 21s
92:	test: 0.8755305	best: 0.8755305 (92)	total: 4m 55s	remaining: 8m 18s
93:	test: 0.8755210	best: 0.8755305 (92)	total: 4m 59s	remaining: 8m 16s
94:	test: 0.8755171	best: 0.8755305 (92)	total: 5m 1s	remaining: 8m 12s
95:	test: 0.8755195	best: 0.8755305 (92)	total: 5m 4s	remaining: 8m 8s
96:	test: 0.8755194	best: 0.8755305 (92)	total: 5m 7s	remaining: 8m 5s
97:	test: 0.8755271	best: 0.8755305 (92)	total: 5m 10s	remaining: 8m 2s
98:	test: 0.8755364	best: 0.8755364 (98)	total: 5m 14s	remaining: 7m 59s
99:	test: 0.8755395	best: 0.8755395 (99)	total: 5m 17s	remaining: 7m 56s
100:	test: 0.8755444	best: 0.8755444 (100)	total: 5m 20s	remaining: 7m 52s
101:	test: 0.8755442	best: 0.8755444 (100)	total: 5m 23s	remaining: 7m 49s
102:	test: 0.8755506	best: 0.8755506 (102)	total: 5m 27s	remaining: 7m 47s
103:	test: 0.8755496	best: 0.8755506 (102)	total: 5m 30s	remaining: 7m 44s
104:	test: 0.8755504	best: 0.8755506 (102)	total: 5m 34s	remaining: 7m 41s
105:	test: 0.8755529	best: 0.8755529 (105)	total: 5m 37s	remaining: 7m 38s
106:	test: 0.8755527	best: 0.8755529 (105)	total: 5m 39s	remaining: 7m 34s
107:	test: 0.8755689	best: 0.8755689 (107)	total: 5m 43s	remaining: 7m 31s
108:	test: 0.8755699	best: 0.8755699 (108)	total: 5m 46s	remaining: 7m 28s
109:	test: 0.8755851	best: 0.8755851 (109)	total: 5m 49s	remaining: 7m 25s
110:	test: 0.8756192	best: 0.8756192 (110)	total: 5m 53s	remaining: 7m 23s
111:	test: 0.8756209	best: 0.8756209 (111)	total: 5m 56s	remaining: 7m 19s

112:	test: 0.8756832	best: 0.8756832 (112)	total: 6m	remaining: 7m 16s
113:	test: 0.8756836	best: 0.8756836 (113)	total: 6m 3s	remaining: 7m 13s
114:	test: 0.8762644	best: 0.8762644 (114)	total: 6m 6s	remaining: 7m 10s
115:	test: 0.8762659	best: 0.8762659 (115)	total: 6m 10s	remaining: 7m 7s
116:	test: 0.8762747	best: 0.8762747 (116)	total: 6m 13s	remaining: 7m 4s
117:	test: 0.8762685	best: 0.8762747 (116)	total: 6m 16s	remaining: 7m 1s
118:	test: 0.8762744	best: 0.8762747 (116)	total: 6m 19s	remaining: 6m 57s
119:	test: 0.8762772	best: 0.8762772 (119)	total: 6m 23s	remaining: 6m 55s
120:	test: 0.8765420	best: 0.8765420 (120)	total: 6m 26s	remaining: 6m 52s
121:	test: 0.8765402	best: 0.8765420 (120)	total: 6m 30s	remaining: 6m 49s
122:	test: 0.8765492	best: 0.8765492 (122)	total: 6m 33s	remaining: 6m 45s
123:	test: 0.8765592	best: 0.8765592 (123)	total: 6m 36s	remaining: 6m 43s
124:	test: 0.8765804	best: 0.8765804 (124)	total: 6m 39s	remaining: 6m 39s
125:	test: 0.8767210	best: 0.8767210 (125)	total: 6m 43s	remaining: 6m 36s
126:	test: 0.8767322	best: 0.8767322 (126)	total: 6m 46s	remaining: 6m 33s
127:	test: 0.8768449	best: 0.8768449 (127)	total: 6m 50s	remaining: 6m 31s
128:	test: 0.8770210	best: 0.8770210 (128)	total: 6m 53s	remaining: 6m 28s
129:	test: 0.8770361	best: 0.8770361 (129)	total: 6m 56s	remaining: 6m 24s
130:	test: 0.8770358	best: 0.8770361 (129)	total: 6m 59s	remaining: 6m 21s
131:	test: 0.8770441	best: 0.8770441 (131)	total: 7m 3s	remaining: 6m 18s
132:	test: 0.8770454	best: 0.8770454 (132)	total: 7m 6s	remaining: 6m 14s
133:	test: 0.8771169	best: 0.8771169 (133)	total: 7m 9s	remaining: 6m 12s
134:	test: 0.8771287	best: 0.8771287 (134)	total: 7m 13s	remaining: 6m 9s
135:	test: 0.8771297	best: 0.8771297 (135)	total: 7m 16s	remaining: 6m 5s
136:	test: 0.8771796	best: 0.8771796 (136)	total: 7m 19s	remaining: 6m 2s
137:	test: 0.8771793	best: 0.8771796 (136)	total: 7m 22s	remaining: 5m 59s
138:	test: 0.8771801	best: 0.8771801 (138)	total: 7m 26s	remaining: 5m 56s
139:	test: 0.8771764	best: 0.8771801 (138)	total: 7m 28s	remaining: 5m 52s
140:	test: 0.8771760	best: 0.8771801 (138)	total: 7m 31s	remaining: 5m 49s
141:	test: 0.8771810	best: 0.8771810 (141)	total: 7m 35s	remaining: 5m 46s
142:	test: 0.8771852	best: 0.8771852 (142)	total: 7m 38s	remaining: 5m 43s
143:	test: 0.8771865	best: 0.8771865 (143)	total: 7m 41s	remaining: 5m 40s
144:	test: 0.8771848	best: 0.8771865 (143)	total: 7m 45s	remaining: 5m 36s
145:	test: 0.8771817	best: 0.8771865 (143)	total: 7m 48s	remaining: 5m 33s
146:	test: 0.8774781	best: 0.8774781 (146)	total: 7m 51s	remaining: 5m 30s
147:	test: 0.8775589	best: 0.8775589 (147)	total: 7m 55s	remaining: 5m 28s
148:	test: 0.8775641	best: 0.8775641 (148)	total: 7m 59s	remaining: 5m 25s
149:	test: 0.8775635	best: 0.8775641 (148)	total: 8m 1s	remaining: 5m 21s
150:	test: 0.8776441	best: 0.8776441 (150)	total: 8m 5s	remaining: 5m 18s
151:	test: 0.8776541	best: 0.8776541 (151)	total: 8m 9s	remaining: 5m 15s
152:	test: 0.8776491	best: 0.8776541 (151)	total: 8m 12s	remaining: 5m 12s
153:	test: 0.8776487	best: 0.8776541 (151)	total: 8m 15s	remaining: 5m 8s
154:	test: 0.8776483	best: 0.8776541 (151)	total: 8m 18s	remaining: 5m 5s
155:	test: 0.8776489	best: 0.8776541 (151)	total: 8m 21s	remaining: 5m 2s
156:	test: 0.8776490	best: 0.8776541 (151)	total: 8m 25s	remaining: 4m 59s
157:	test: 0.8776587	best: 0.8776587 (157)	total: 8m 28s	remaining: 4m 56s
158:	test: 0.8780563	best: 0.8780563 (158)	total: 8m 32s	remaining: 4m 53s
159:	test: 0.8782090	best: 0.8782090 (159)	total: 8m 35s	remaining: 4m 50s
160:	test: 0.8782091	best: 0.8782091 (160)	total: 8m 38s	remaining: 4m 46s
161:	test: 0.8781840	best: 0.8782091 (160)	total: 8m 41s	remaining: 4m 43s
162:	test: 0.8781856	best: 0.8782091 (160)	total: 8m 45s	remaining: 4m 40s
163:	test: 0.8781892	best: 0.8782091 (160)	total: 8m 49s	remaining: 4m 37s
164:	test: 0.8781854	best: 0.8782091 (160)	total: 8m 52s	remaining: 4m 34s
165:	test: 0.8781853	best: 0.8782091 (160)	total: 8m 55s	remaining: 4m 31s
166:	test: 0.8781860	best: 0.8782091 (160)	total: 8m 58s	remaining: 4m 27s
167:	test: 0.8781875	best: 0.8782091 (160)	total: 9m 1s	remaining: 4m 24s
168:	test: 0.8781895	best: 0.8782091 (160)	total: 9m 4s	remaining: 4m 21s
169:	test: 0.8781881	best: 0.8782091 (160)	total: 9m 8s	remaining: 4m 17s
170:	test: 0.8781942	best: 0.8782091 (160)	total: 9m 10s	remaining: 4m 14s
171:	test: 0.8781949	best: 0.8782091 (160)	total: 9m 13s	remaining: 4m 11s
172:	test: 0.8781970	best: 0.8782091 (160)	total: 9m 16s	remaining: 4m 7s
173:	test: 0.8781971	best: 0.8782091 (160)	total: 9m 19s	remaining: 4m 4s
174:	test: 0.8781983	best: 0.8782091 (160)	total: 9m 21s	remaining: 4m
175:	test: 0.8782024	best: 0.8782091 (160)	total: 9m 25s	remaining: 3m 57s
176:	test: 0.8783626	best: 0.8783626 (176)	total: 9m 28s	remaining: 3m 54s
177:	test: 0.8783697	best: 0.8783697 (177)	total: 9m 32s	remaining: 3m 51s
178:	test: 0.8783896	best: 0.8783896 (178)	total: 9m 35s	remaining: 3m 48s
179:	test: 0.8783846	best: 0.8783896 (178)	total: 9m 39s	remaining: 3m 45s
180:	test: 0.8783883	best: 0.8783896 (178)	total: 9m 42s	remaining: 3m 41s
181:	test: 0.8783894	best: 0.8783896 (178)	total: 9m 45s	remaining: 3m 38s
182:	test: 0.8784103	best: 0.8784103 (182)	total: 9m 48s	remaining: 3m 35s
183:	test: 0.8784103	best: 0.8784103 (183)	total: 9m 51s	remaining: 3m 32s
184:	test: 0.8785745	best: 0.8785745 (184)	total: 9m 55s	remaining: 3m 29s
185:	test: 0.8785732	best: 0.8785745 (184)	total: 9m 58s	remaining: 3m 25s
186:	test: 0.8785562	best: 0.8785745 (184)	total: 10m	remaining: 3m 22s
187:	test: 0.8785656	best: 0.8785745 (184)	total: 10m 3s	remaining: 3m 19s
188:	test: 0.8785657	best: 0.8785745 (184)	total: 10m 6s	remaining: 3m 15s
189:	test: 0.8785680	best: 0.8785745 (184)	total: 10m 9s	remaining: 3m 12s
190:	test: 0.8785794	best: 0.8785794 (190)	total: 10m 13s	remaining: 3m 9s
191:	test: 0.8786030	best: 0.8786030 (191)	total: 10m 16s	remaining: 3m 6s
192:	test: 0.8786015	best: 0.8786030 (191)	total: 10m 19s	remaining: 3m 2s
193:	test: 0.8785958	best: 0.8786030 (191)	total: 10m 23s	remaining: 2m 59s
194:	test: 0.8785930	best: 0.8786030 (191)	total: 10m 26s	remaining: 2m 56s
195:	test: 0.8785927	best: 0.8786030 (191)	total: 10m 29s	remaining: 2m 53s
196:	test: 0.8785942	best: 0.8786030 (191)	total: 10m 31s	remaining: 2m 50s
197:	test: 0.8785886	best: 0.8786030 (191)	total: 10m 34s	remaining: 2m 46s
198:	test: 0.8785864	best: 0.8786030 (191)	total: 10m 37s	remaining: 2m 43s
199:	test: 0.8785876	best: 0.8786030 (191)	total: 10m 39s	remaining: 2m 39s
200:	test: 0.8785892	best: 0.8786030 (191)	total: 10m 42s	remaining: 2m 36s
201:	test: 0.8785888	best: 0.8786030 (191)	total: 10m 45s	remaining: 2m 33s
202:	test: 0.8786018	best: 0.8786030 (191)	total: 10m 48s	remaining: 2m 30s
203:	test: 0.8787010	best: 0.8787010 (203)	total: 10m 52s	remaining: 2m 27s
204:	test: 0.8787224	best: 0.8787224 (204)	total: 10m 55s	remaining: 2m 23s
205:	test: 0.8787248	best: 0.8787248 (205)	total: 10m 59s	remaining: 2m 20s
206:	test: 0.8787362	best: 0.8787362 (206)	total: 11m 2s	remaining: 2m 17s
207:	test: 0.8787360	best: 0.8787362 (206)	total: 11m 6s	remaining: 2m 14s
208:	test: 0.8787528	best: 0.8787528 (208)	total: 11m 9s	remaining: 2m 11s
209:	test: 0.8787522	best: 0.8787528 (208)	total: 11m 13s	remaining: 2m 8s
210:	test: 0.8787554	best: 0.8787554 (210)	total: 11m 16s	remaining: 2m 5s
211:	test: 0.8787617	best: 0.8787617 (211)	total: 11m 19s	remaining: 2m 1s
212:	test: 0.8787594	best: 0.8787617 (211)	total: 11m 23s	remaining: 1m 58s
213:	test: 0.8787693	best: 0.8787693 (213)	total: 11m 26s	remaining: 1m 55s
214:	test: 0.8787836	best: 0.8787836 (214)	total: 11m 30s	remaining: 1m 52s
215:	test: 0.8787837	best: 0.8787837 (215)	total: 11m 32s	remaining: 1m 49s
216:	test: 0.8787812	best: 0.8787837 (215)	total: 11m 36s	remaining: 1m 45s
217:	test: 0.8787831	best: 0.8787837 (215)	total: 11m 40s	remaining: 1m 42s
218:	test: 0.8787832	best: 0.8787837 (215)	total: 11m 43s	remaining: 1m 39s
219:	test: 0.8787820	best: 0.8787837 (215)	total: 11m 47s	remaining: 1m 36s
220:	test: 0.8787769	best: 0.8787837 (215)	total: 11m 49s	remaining: 1m 33s
221:	test: 0.8787797	best: 0.8787837 (215)	total: 11m 52s	remaining: 1m 29s

222:	test: 0.8787818	best: 0.8787837 (215)	total: 11m 55s	remaining: 1m 26s
223:	test: 0.8788685	best: 0.8788685 (223)	total: 11m 58s	remaining: 1m 23s
224:	test: 0.8788676	best: 0.8788685 (223)	total: 12m 1s	remaining: 1m 20s
225:	test: 0.8788684	best: 0.8788685 (223)	total: 12m 5s	remaining: 1m 17s
226:	test: 0.8788652	best: 0.8788685 (223)	total: 12m 7s	remaining: 1m 13s
227:	test: 0.8788700	best: 0.8788700 (227)	total: 12m 10s	remaining: 1m 10s
228:	test: 0.8789035	best: 0.8789035 (228)	total: 12m 14s	remaining: 1m 7s
229:	test: 0.8789057	best: 0.8789057 (229)	total: 12m 17s	remaining: 1m 4s
230:	test: 0.8792185	best: 0.8792185 (230)	total: 12m 20s	remaining: 1m
231:	test: 0.8792228	best: 0.8792228 (231)	total: 12m 24s	remaining: 57.7s
232:	test: 0.8792506	best: 0.8792506 (232)	total: 12m 28s	remaining: 54.6s
233:	test: 0.8792623	best: 0.8792623 (233)	total: 12m 31s	remaining: 51.4s
234:	test: 0.8792624	best: 0.8792624 (234)	total: 12m 34s	remaining: 48.1s
235:	test: 0.8792666	best: 0.8792666 (235)	total: 12m 36s	remaining: 44.9s
236:	test: 0.8792667	best: 0.8792667 (236)	total: 12m 40s	remaining: 41.7s
237:	test: 0.8792744	best: 0.8792744 (237)	total: 12m 43s	remaining: 38.5s
238:	test: 0.8792793	best: 0.8792793 (238)	total: 12m 46s	remaining: 35.3s
239:	test: 0.8792825	best: 0.8792825 (239)	total: 12m 50s	remaining: 32.1s
240:	test: 0.8792808	best: 0.8792825 (239)	total: 12m 53s	remaining: 28.9s
241:	test: 0.8792804	best: 0.8792825 (239)	total: 12m 56s	remaining: 25.7s
242:	test: 0.8792789	best: 0.8792825 (239)	total: 12m 59s	remaining: 22.5s
243:	test: 0.8792801	best: 0.8792825 (239)	total: 13m 2s	remaining: 19.2s
244:	test: 0.8793176	best: 0.8793176 (244)	total: 13m 6s	remaining: 16s
245:	test: 0.8793198	best: 0.8793198 (245)	total: 13m 9s	remaining: 12.8s
246:	test: 0.8793218	best: 0.8793218 (246)	total: 13m 12s	remaining: 9.62s
247:	test: 0.8793219	best: 0.8793219 (247)	total: 13m 15s	remaining: 6.42s
248:	test: 0.8793231	best: 0.8793231 (248)	total: 13m 19s	remaining: 3.21s
249:	test: 0.8793229	best: 0.8793231 (248)	total: 13m 22s	remaining: 0us

bestTest = 0.8793230568
bestIteration = 248

Shrink model to first 249 iterations.
OOf score 0.13640318170519514

In [72]:
## Aveage the  two models for train
print ('OOf score', f1_score(val_train['target'], ((0.5*oof_cat) + (0.5*oof_lgb) > 0.05).astype(int)))

OOf score 0.1388920691516331

In [73]:
## Average two models for test
predictions = (0.5*predictions_cat) + (0.5*predictions_lgb)

In [74]:
val_train['target'].value_counts(True)

0    0.995385
1    0.004615
Name: target, dtype: float64

## Evaluate the data

In [75]:
test['pred_prob'] = predictions
# test['prediction'] = (test['pred_prob']>0.07).astype(int) ## Ensembling_07        LB:0.123049956178791      
# test['prediction'] = (test['pred_prob']>0.06).astype(int) ## Ensembling_06        LB:0.12304120719675
# test['prediction'] = (test['pred_prob']>0.05).astype(int) ## Ensembling_05        LB:
test['prediction'] = (test['pred_prob']>0.065).astype(int) ## Ensembling_065       



test['prediction'].value_counts(True)

0    0.995005
1    0.004995
Name: prediction, dtype: float64

## Submission

In [76]:
test[['datetime x segment_id', 'prediction']].to_csv('Ensembling_065.csv', index=False)

In [77]:
test.shape

(1174496, 45)

In [78]:
test.prediction.value_counts(True)

0    0.995005
1    0.004995
Name: prediction, dtype: float64